 <ul>
      <li><em class="can-proceed">&#10003;</em> Title no: GM113631</li>
      <li><em class="can-proceed">&#10003;</em> Lender: Skipton Building Society</li>
      <li><em class="can-proceed">&#10003;</em> Mortgage Ref: eMD172Q (MDRef)</li>
      <li><em class="can-proceed">&#10003;</em> Borrowers: David Graham Harrison and Jayne Emily Harrison</li>
      <li><em class="can-proceed">&#10003;</em> Property address: 14 Grain Lane, Taunton, TA2 2DC</li>
      <li><em class="can-proceed">&#10003;</em> Mortgage Extent: Matches property extent</li>
      <li><em class="can-proceed">&#10003;</em> Mortgage Date: 13 June 2015</li>
      <li><em class="can-proceed">&#10003;</em> Fee: £20</li>
 </ul>
