 <ul>
      <li><em class="can-proceed">&#10003;</em> Title no: BD161882</li>
      <li><em class="can-proceed">&#10003;</em> Lender: Shawbrook Bank Limited</li>
      <li><em class="can-proceed">&#10003;</em> Mortgage Ref: eMD1318Q (MDRef)</li>
      <li><em class="can-proceed">&#10003;</em> Borrowers: Andrew Pitom</li>
      <li><em class="can-proceed">&#10003;</em> Property address: 17 Kenilworth Road, Luton, LU1 1DQ</li>
      <li><em class="can-proceed">&#10003;</em> Mortgage Extent: Matches property extent</li>
      <li><em class="can-proceed">&#10003;</em> Mortgage Date: 25 June 2015</li>
      <li><em class="can-proceed">&#10003;</em> Fee: £20</li>
 </ul>
