<li id="entry-approve-link-1" class="needs-approval clickable">REGISTERED CHARGE dated 13 June 2015.<span class="entry-accepted-1">&#10003;</span></li>
<!-- <div class="entry-editor" id="entry-approve-editor-1">
	<div class="editor-functions">
 		<button class="accept-entry" id="accept-entry-1">accept entry</button>
 	</div>
</div> -->

<li id="entry-approve-link-2" class="needs-approval clickable">Proprietor: SHAWBROOK BANK LIMITED (Co. Regn. No. 388466) of Lutea House, Warley Hill Business Park, The Drive, Great Warley, Brentwood, Essex CM13 8BE.<span class="entry-accepted-2">&#10003;</span></li>
<div class="entry-editor" id="entry-approve-editor-2">
 <button class="accept-entry" id="accept-entry-2">accept both charge entries</button>
</div>


<!-- MD1318Q
CD100
(DATE) REGISTERED CHARGE dated *CD*.
CSHAW
(DATE) Proprietor: SHAWBROOK BANK LIMITED (Co. Regn. No. 388466) of Lutea House, Warley Hill Business Park, The Drive, Great Warley, Brentwood, Essex CM13 8BE.
BX602

Note - *CP* is lender’s name in lower case.
Date format is (00.00.0000) -->


