<li id="entry-approve-link-b1" class="needs-approval clickable">RESTRICTION: No disposition of the registered estate by the proprietor of the registered estate or by the proprietor of any registered charge, not being a charge registered before the entry of this restriction, is to be registered without a written consent signed by the proprietor for the time being of the Charge dated 13 June 2015 in favour of SHAWBROOK BANK LIMITED referred to in the Charges Register.<span class="entry-accepted-b1">&#10003;</span></li>
<div class="entry-editor" id="entry-approve-editor-b1">
  <div class="editor-functions">
    <button class="accept-entry" id="accept-entry-b1">accept entry</button>
  </div>
</div>


<!-- 
MD1318Q

(DATE) RESTRICTION: No disposition of the registered estate by the proprietor of the registered estate or by the proprietor of any registered charge, not being a charge registered before the entry of this restriction, is to be registered without a written consent signed by the proprietor for the time being of the Charge dated *CD* in favour of *CP* referred to in the Charges Register.

Note - *CP* is lender’s name in lower case.
Date format is (00.00.0000) -->


