<div class="statutory-register">

  <h3 class="heading-medium heading-sub-reg">A</h3>
  <p class="property-district">SOMERSET : TAUNTON DEANE</p>
  <ol class="list-number">

    <li>The Freehold land shown edged with red on the plan of the above Title filed at the Registry and being <span class="property-address">14 Grain Lane, Taunton, TA2 2DC</span>.<span class="entry-date">14-07-1989</span></li>
    </ol>

  <h3 class="heading-medium heading-sub-reg">B</h3>
  <p class="class-of-title">Title absolute</p>
  <ol class="list-number">

    <li>PROPRIETOR: <span class="proprietor-name">DAVID GRAHAM HARRISON</span> and <span class="proprietor-name">JAYNE EMILY HARRISON</span> of <span class="proprietor-address">7 Sandings Lane Cottages, Milverton, Taunton TA3 1QP</span>.<span class="entry-date">14-05-2014</span></li>

    <li>The price stated to have been paid on 11 May 2014 was £139,950.<span class="entry-date">14-05-2014</span></li>

    <li>RESTRICTION: No disposition by a sole proprietor of the registered estate (except a trust corporation) under which capital money arises is to be registered unless authorised by an order of the court.<span class="entry-date">14-05-2014</span></li>
  </ol>


  <h3 class="heading-medium heading-sub-reg">C</h3>
  <ol class="list-number">

    <li>REGISTERED CHARGE dated 11 May 2014.<span class="entry-date">14-05-2014</span></li>

    <li>Proprietor: RBS BANK PLC (Scot. Co. Regn. No. SC088525) of Mortgages, P.O. Box 2103, Barrow Way, Montpellier, Cheltenham GL2 6AY.<span class="entry-date">14-05-2014</span></li>


    <h3 class="heading-small visuallyhidden"><a id="proposed-entries">proposed entries</a></h3>
    {% include "casework-vx/partials/_charge-entry-skipton-c1.html" %}

  </ol>


</div>


