{% macro build_case_item(case, conveyancer='buyer') %}
<li class="case-list__item case-list__item--border">
  <details class="inner-block">
    <summary>
      <h3 class="lede">{{ case.property.title }}</h3>
      <p itemscope itemtype="http://schema.org/PostalAddress">
        <span itemprop="streetAddress">{{ case.property.addr.streetaddress }}</span>, <span itemprop="addressLocality">{{ case.property.addr.addresslocality }}</span>, <span itemprop="postalCode">{{ case.property.addr.postalcode }}</span>
      </p>
    </summary>
    <div class="inner-block">
      <div class="grid-wrapper document-section__item">
        <div class="grid grid-1-4">
          <h2 class="inner-block heading-small">Clients</h2>
        </div>
        <div class="grid grid-3-4">
          <ul>
            {% for client in case.clients %}
            <li class="grid-wrapper">
              <div class="inner-block">
                <div class="grid grid-1-3">
                  <div class="inner-block">{{ client.fullname }}</div>
                </div>
                <div class="grid grid-1-3">
                  {% if client.status == "verified" %}
                  <div class="inner-block">Verified</div>
                  {% else %}
                  <div class="inner-block">Code: {{ client.code }}</div>
                  {% endif %}
                </div>
                <div class="grid grid-1-3">
                  {% if client.signed is defined %}
                    {% if client.signed %}
                    <div class="inner-block signed">signed</div>
                    {% else %}
                    <div class="inner-block not-signed">not signed</div>
                    {% endif %}
                  {% endif %}
                </div>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>

      <div class="grid-divider"></div>

      <div class="grid-wrapper document-section__item">
        <div class="grid grid-1-4">
          <h2 class="inner-block heading-small">Transfer</h2>
        </div>
        <div class="grid grid-1-4">
          <div class="inner-block">{{ case.transfer.status }}</div>
        </div>
        <div class="grid grid-1-4">
          <div class="inner-block">
            {% if conveyancer == "buyer" %}
              {% if case.transfer.status == "-" %}
              <a href="create-transfer" class="button-secondary">create<span class="visuallyhidden"> a transfer</span></a>
              {% elif case.transfer.status == "drafted" %}
              <a href="transfer-empty-states" class="button-secondary">edit<span class="visuallyhidden"> a transfer</span></a>
              {% elif case.transfer.status == "under review" %}
              <a href="summary-withdraw-option" class="button-secondary">view<span class="visuallyhidden"> a transfer</span></a>
              {% elif case.transfer.status == "withdrawn" %}
              <a href="transfer-withdrawn" class="button-secondary">edit<span class="visuallyhidden"> a transfer</span></a>
              {% elif case.transfer.status == "ready to sign" %}
              <a href="transfer-signing" class="button-secondary">view<span class="visuallyhidden"> a transfer</span></a>
              {% else %}
              {% endif %}
            {% else %}
              {% if case.transfer.status == "under review" %}
              <a href="review-transfer" class="button-secondary">view<span class="visuallyhidden"> a transfer</span></a>
              {% elif case.transfer.status == "withdrawn" %}
              <a href="/transfer-2nd-con/transfer-withdrawn" class="button-secondary">view<span class="visuallyhidden"> a transfer</span></a>
              {% elif case.transfer.status == "ready to sign" %}
              <a href="/transfer/transfer-signing-seller" class="button-secondary">view<span class="visuallyhidden"> a transfer</span></a>
              {% else %}
              {% endif %}
            {% endif %}
          </div>
        </div>
      </div>

      <div class="grid-divider"></div>

      {% if conveyancer == "buyer" %}
      <div class="grid-wrapper document-section__item">
        <div class="grid grid-1-4">
          <h2 class="inner-block heading-small">Property</h2>
        </div>
        <div class="grid grid-1-4">
          <div class="inner-block">
            <a href="/register-view/register-2.1" class="button-secondary">view title<span class="visuallyhidden"> a transfer</span></a>
          </div>
        </div>
        <div class="grid grid-1-4">
          <div class="inner-block">
            <a href="/reserve-priority/select" class="button-secondary">reserve priority<span class="visuallyhidden"> a transfer</span></a>
          </div>
        </div>
      </div>

      <div class="grid-divider"></div>
      {% endif %}

      <div class="grid-wrapper document-section__item">
        <div class="grid grid-1-4">
          <div class="inner-block">
            <a href="#" class="button-secondary">Remove case</a>
          </div>
        </div>
      </div>

  </details>
</li>
{% endmacro %}