{% extends "global/prototypes_base.html" %}

{% block page_title %}
  Mortgage details | Create transfer
{% endblock %}

{% block head %}
  <link href="{{ prototypes_asset_path }}stylesheets/transfer.css" media="screen" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}

<main id="wrapper" role="main">

  <div id="content">

    {% include "includes/prototypes_banner.html" %}

    <div class="inner-block">

      <h1 class="heading-xlarge">Mortgage Details</h1>

      <form action="mortgage-details-entered" data-alternative-action="summary-no-mortgage" method="get" class="form mortgage-details-form">

        {% include "transfer/partials/_md-ref.html" %}

        <fieldset class="nomortgagecheck">
          <legend>Mortgage not required</legend>
          <label for="nomortgagecheck" class="block-label">
            <input id="nomortgagecheck" type="checkbox" name="no-mortgage-checkbox">
            I confirm a mortgage is not required for this transfer
          </label>
        </fieldset>

        <button class="button final-btn">Confirm mortgage details</button>
        <p><a href="conveyancer-case-list">Save draft</a></p>

      </form>

    </div>

  </div>

</main>

{% endblock %}

{% block body_end_additional %}
  <script src="{{ prototypes_asset_path }}javascripts/lr-mortgage-details.js"></script>
{% endblock %}
