{% extends "global/prototypes_base.html" %}

{% block page_title %}
  Withdrawn transfer | Create transfer
{% endblock %}

{% block head %}
  <link href="{{ prototypes_asset_path }}stylesheets/transfer.css" media="screen" rel="stylesheet" type="text/css">
{% endblock %}
  
{% block content %}

<main id="wrapper" role="main">

  <div id="content">

    {% include "includes/prototypes_banner.html" %}

    <div class="inner-block">

      <h1 class="heading-large">Transfer details</h1>
      <div class="callout callout--notice">
        This transfer was withdrawn on 12/09/2014
      </div>

    </div>

      {% include "transfer/partials/_transfer-summary-dynamic-v1.5.html" %}


  </div>

</main>

{% endblock %}
