{% extends "global/prototypes_base.html" %}

{% block page_title %}
  Signing the transfer | Create transfer
{% endblock %}

{% block head %}
  <link href="{{ prototypes_asset_path }}stylesheets/transfer.css" media="screen" rel="stylesheet" type="text/css">
{% endblock %}
  
{% block content %}

<main id="wrapper" role="main">

  <div id="content">

    {% include "includes/prototypes_banner.html" %}

    <div class="inner-block">

      <h1 class="heading-large">Transfer deed</h1>
      <p class="lede text">Please check all the details carefully before signing.</p>

    </div>

      {% include "transfer/partials/_transfer-summary-dynamic-v1.5.html" %}

    <div class="inner-block">
      <section class="document-section document-section--flush text">
        <h2 class="heading-medium">The transferors agree to transfer ownership of the property to the transferees.</h2>

        <div class="signees">
          <h3 class="heading-medium collapse">Transferors</h3>
          <div class="grid-wrapper">
            {% for seller in data.property.sellers %}
              <div class="grid grid-1-2">
                <p class="inner-block">
                  {{ seller }} <span class="confirm-flag confirm-flag--block">has signed</span>
                </p>
              </div>
            {% endfor %}
          </div>
          
          <h3 class="grid heading-medium collapse transferees">Transferees</h3>
          <div class="grid-wrapper">
            {% for buyer in data.buyers  %}
            <div class="grid grid-1-2">
              <p class="inner-block">{{ buyer.name }} {% if role == "citizen" and buyer.isuser %}<span class="alert-flag">You</span>{% endif %}</p>
            </div>
            {% endfor %}
          </div>
        </div>

      </section>

      {% if role == "citizen" %}
      <form action="{{ next_page }}" method="get" class="form">
        <div class="form-group">
          <label for="check-1" class="block-label">
            <input id="check-1" type="checkbox" name="agree-execution">
            I have read and understood the information above
          </label>
        </div>
        <div class="form-group">
          <button type="submit" class="button">Sign this agreement</button>
        </div>
      </form>
      {% else %}
      <a href="conveyancer-case-list">back to case list</a>
      {% endif %}
    </div>

  </div>

</main>

{% endblock %}
