{% extends "global/prototypes_base.html" %}

{% block page_title %}
  Reserve Priority
{% endblock %}

{% block head %}
  <link href="{{ prototypes_asset_path }}stylesheets/reserve-priority-2-0.css" media="screen" rel="stylesheet" type="text/css">
{% endblock %}
  
{% block content %}

<main id="wrapper" role="main">
  <div id="content">

    {% include "includes/prototypes_banner.html" %}

    <div class="outer-block">
      <div class="inner-block">

        <div class="callout callout--action-notice callout--generated-token">

          <h1>Priority reserved  &#10003;</h1>

        </div>

        <div class="lede">

          <p>You have protected a purchase and a mortgage on the title <a href="/register-view/register-2.1">GHR67834</a></p>

        </div>

        <div class="text">
          <p>This priority will last for 30 working days (until 10 Nov 2014). We have sent you a confirmation email</p>
        </div>


        <a href="/transfer/conveyancer-case-list">Back to case list</a>

      </div>


    </div>


  </div>
</main>

{% endblock %}
