{% extends "global/prototypes_base.html" %}

{% block page_title %}
  <!-- insert page title here -->
  Log in
  <!-- -->
{% endblock %}
  
{% block content %}

<main id="wrapper" role="main">

  <div id="content">

    {% include "includes/prototypes_banner.html" %}

    <div class="outer-block">
      <div class="inner-block">

        <form action="display-charge-for-signing" method="get" class="form">

          <h1 class="form-title heading-medium">
            Sign agreements
          </h1>


          <h1 class="form-title heading-xlarge">
            Login
          </h1>



          <p class="lede text">Verify your identity with GOV.UK to view and sign your agreements.</p>




          <div class="form-group">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username">
          </div>



          <div class="form-group">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password">
          </div>

          <div class="form-group">           
            <button type="submit" class="button">Login</button>
          </div>

        </form>

      </div>
    </div>

  </div>

</main>

{% endblock %}
