{% extends "global/prototypes_base.html" %}

{% block page_title %}
  Official register of title GHR67834
{% endblock %}
  
{% block content %}

<main id="wrapper" role="main">

  <div id="content">

    {% include "includes/prototypes_banner.html" %}

    <div class="outer-block">
      <div class="inner-block">

        <section class="change-flag">

          <h1 class="heading-medium">Active changes</h1>

              <p>
                <time datetime="2014-08-12">12 August 2014</time>:
                Wall &amp; Co Solicitors are authorised on your behalf in relation to the purchase of this property
                <a href="#" class="stop-changes">Cancel</a>
              </p>

            <details>
              <summary>What does this mean</summary>
              <div class="panel-indent">
                <p>
                  Help text to explain.
                </p>
              </div>
            </details>

        </section>      

        <div class="summary">

          <h1 class="heading-large">
            Official register of title <span class="title-flag">GHR67834</span>
          </h1>

          <p>
            Showing the entries in the register on <b>4 April 2014</b> at <b>16:46:28</b>
          </p>

          <div itemscope itemtype ="http://schema.org/PostalAddress" class="lede">
            <span itemprop="streetAddress">
              Flat 18 Kingman Court<br>
              Verdant Road<br>
            </span>
            <span itemprop="addressLocality">London</span><br>
            <span itemprop="postalCode">SV19 9BT</span>
          </div>

          <dl class="inline">
            <dt>Registered Owner(s)</dt>
            <dd>
              Matthew Jameson
            </dd>

            <dt>Lender(s)</dt>
            <dd>General UK PLC</dd>

            <dt>Tenure</dt>
            <dd>Leasehold</dd>

            <dt>Quality of title</dt>
            <dd>Absolute</dd>

            <dt>Price Stated</dt>
            <dd>&pound;450,000</dd>

            <dt>Council</dt>
            <dd>London Borough of Brent</dd>
          </dl>

        </div>

      </div>
    </div>

    <div class="grid-wrapper">

      <div class="grid grid-1-4">
        <section class="inner-block page-contents js-stick-at-top-when-scrolling">
          <h2>Contents</h2>
          <nav>
            <ul>
              <li><a href="#property-register">Property register</a></li>
              <li><a href="#proprietorship-register">Proprietorship register</a></li>
              <li><a href="#charges-register">Charges register</a></li>
              <li><a href="#title-plan">Title plan</a></li>
              <li><a href="#change">Make a change</a></li>
            </ul>
          </nav>
        </section>
      </div>

      <div class="grid grid-3-4">
        <div class="inner-block">
          
          <section id="property-register" class="text first-item">
            <h2 class="heading-medium">Property register</h2>

            <details>
              <summary>What is the property register?</summary>
              <div class="panel-indent">
                <p>
                  This register describes the land and estate comprised in the title. Except as mentioned below, the title includes any legal easements granted by the registered lease but is subject to any rights that it reserves, so far as those easements and rights exist and benefit or affect the registered land.
                </p>
              </div>
            </details>

            <div class="note">
              <time datetime="1991-02-20">20 February 1991</time>
              <p>
                The Leasehold land shown edged with red on the plan of the above Title filed at the Registry and being Flat 18 Kingman Court, Verdant Road, London SV19 9BT.
              </p>
              <p>
                As to the part numbered one on the title plan only the first floor flat is included in the title.<br>
              </p>
              <p>
                As to the part numbered two on the title plan only the first floor flat and ground floor store are included in the title.
              </p>
            </div>

            <div class="note">
              <time datetime="1991-02-20">20 February 1991</time>
              <p>Short particulars of the lease(s) (or under-lease(s)) under which the land is held:</p>
              <dl class="inline">
                <dt>Date</dt>
                <dd>11 February 1991</dd>
                <dt>Term</dt>
                <dd>125 years from 11 February 1991</dd>
                <dt>Rent</dt>
                <dd>&pound;10 and additional rent</dd>
                <dt>Parties</dt>
                <dd>
                  <ol>
                    <li>The Mayor and Burgesses of the London Borough of Brent</li>
                    <li>Beatrice Surname</li>
                  </ol>
                </dd>
              </dl>
            </div>

            <div class="note">
              <time datetime="1991-02-20">20 February 1991</time>
              <p>
                The registered Lease is made pursuant to Part V of the Housing Act 1985 and the land has the benefit of and is subject to the easements and rights specified in paragraph 2 of Schedule 6 of the said Act.
              </p>
            </div>

            <div class="note">
              <time datetime="1991-02-20">20 February 1991</time>
              <p>
                Unless otherwise mentioned the title includes any legal easements granted by the registered lease(s) but is subject to any rights that it reserves, so far as those easements and rights exist and benefit or affect the registered land.
              </p>
            </div>

          </section>

          <section id="proprietorship-register" class="text">
      
            <h2 class="heading-medium">Proprietorship register</h2>

            <details>
              <summary>What is the proprietorship register?</summary>
              <div class="panel-indent">
                <p>
                  This register specifies the class of title and identifies the owner. It contains any entries that affect the right of disposal.
                </p>
              </div>
            </details>

            <div class="note">
              <time datetime="2013-08-07">7 August 2013</time>
              <p>
                <strong>Proprietor:</strong> Matthew Jameson of Flat 18 Kingman Court, Verdant Road, London SV19 9BT.
              </p>
            </div>

            <div class="note">
              <time datetime="2013-08-07">7 August 2013</time>
              <p>
                The price stated to have been paid on 26 July 2013 was &pound;450,000.
              </p>
            </div>

            <div class="note">
              <time datetime="2013-08-07">7 August 2013</time>
              <p>
                <strong>Restriction:</strong> no disposition by a sole proprietor of the registered estate (except a trust corporation) under which capital money arises is to be registered unless authorised by an order of the court.
              </p>
            </div>

            <div class="note">
              <time datetime="2013-08-07">7 August 2013</time>
              <p>
                <strong>Restriction:</strong> no disposition of the registered estate by the proprietor of the registered estate is to be registered without a written consent signed by the proprietor for the time being of the Charge dated 27 July 2013 in favour of big Bank UK PLC referred to in the Charges Register.
              </p>
            </div>

          </section>

          <section id="charges-register" class="text">
      
            <h2 class="heading-medium">Charges register</h2>

            <details>
              <summary>What is the charges register?</summary>
              <div class="panel-indent">
                <p>
                  This register contains any charges and other matters that affect the land.
                </p>
              </div>
            </details>

            <div class="note">
              <time datetime="2013-08-07">7 August 2013</time>
              <p>
                Registered charge dated 27 July 2013.<br>
                Proprietor: General UK PLC (Co. Regn. No. 2347676) of 12 Trinity Place, Regents Street, London NW10 6TQ.
              </p>
            </div>

          </section>

          <section id="title-plan" class="text">
      
            <h2 class="heading-medium">Title plan</h2>

            <details>
              <summary>What are title plans?</summary>
              <div class="panel-indent">
                <p>
                  Title plans are things that represent things. They help you to know something.
                </p>
              </div>
            </details>

            <figure class="title-plan">
              <img src="{{ prototypes_asset_path }}images/dummy-title-plan.png" alt="">
            </figure>

          </section>


        </div>
      </div>

    </div>

  </div>

</main>

{% endblock %}