{% extends "global/casework_prototypes_base-v2.html" %}

{% block page_title %}

Case list

{% endblock %}

{% block head %}
  <link href="{{ prototypes_asset_path }}stylesheets/govuk-elements.css" media="screen" rel="stylesheet" type="text/css" />

  <link href="{{ prototypes_asset_path }}stylesheets/casework-shame-v2.css" media="screen" rel="stylesheet" type="text/css">
{% endblock %}

{% block navigation_header %}
<!-- <a href="/" id="proposition-name">{{ env_flag }}</a> -->
<a href="/" id="proposition-name">digital services: </a><a href="/cases-v2" id="proposition-name">mortgage caselist</a>

{% endblock %}

  

{% block content %}

<main id="wrapper" role="main">

  <div id="content">

    <div class="grid-row">

      <div class="column-three-quarters">

        <h1 class="heading-large col-top">digital mortgages</h1>

        <table class="casework-dashboard">
          <thead>
            <tr>
              <th scope="col">Reference</th>
              <th scope="col">Title No</th>
              <th scope="col">Status</th>
              <th scope="col">Received ▼</th>

            </tr>
          </thead>
          <tbody>

            <tr class="summary">
              <td width="18%"><a href="/official-copy-v2/BD161873"><b>DM0001</b></a></td>
              <td width="18%">BD161873</td>
              <td width="40%">no prior applications</td>
              <td width="25%">22 June 2015 12:23</td>
            </tr>

            <tr class="summary">
              <td><a href="/official-copy-v2/BD161879"><b>DM0023</b></a></td>
              <td>BD161879</td>
              <td>prior application - can proceed</td>
              <td>22 June 2015 17:20</td>
            </tr>

            <tr class="summary">
              <td><a href="/official-copy-v2/BD161882"><b>DM0017</b></a></td>
              <td>BD161882</td>
              <td>no prior applications</td>
              <td>23 June 2015 9:43</td>
            </tr>

  <!--           {% for case in data.cases %}
            <tr class="summary">
              <td><a href="/cases-v2/{{ case.applicationReference }}"><b>{{ case.applicationReference }}</b></a></td>
              <td>{{ case.titleNumber }}</td>
              <td>&nbsp;</td>
              <td>{{ case.dateReceived }}</td>
            </tr>        
            {% endfor %} -->




<!-- 
            <hr/>
            <tr class="summary">
              <td>JSON files - not part of the service, just quick way to see SOR data<br/>
              {% include "casework-v2/partials/_json-files.html" %}
              </td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>3 June 2015 9:43</td>
            </tr> -->



          </tbody>
        </table>

      </div>

      <div class="column-quarter">
        {% include "casework-v2/partials/_performance-section-graph.html" %}

<br>
        {% include "casework-v2/partials/_bugs-features-section.html" %}

      
      </div>

    </div>

  </div>

</main>

{% endblock %}
