{% extends "global/prototypes_base.html" %}

{% block page_title %}
  Enter reference number
{% endblock %}

{% block head %}
  <link href="{{ prototypes_asset_path }}stylesheets/legal-document-1-0.css" media="screen" rel="stylesheet" type="text/css">
{% endblock %}
  
{% block content %}

<main id="wrapper" role="main">
  <div id="content">

    {% include "includes/prototypes_banner.html" %}

    <div class="outer-block">
      <div class="inner-block">

        <form class="form" action="{{next_page}}" method="">

          <h1 class="heading-large">Enter deeds code</h1> 

          <div class="text">
            <p class="lede">This is the code that was emailed to you.</p>
            <p class="panel-indent">If you haven’t received a code, or have lost it, contact your solicitor or conveyancer</p>

            <div class="form-group">
              <label class="form-label" for="token">Enter your code:</label>
              <p class="form-hint">Example: WDDF</p>
              <input type="text" class="form-control" id="token" name="token">
            </div>
          </div>

          <div class="form-group">
            <input type="submit" class="button" value="Submit">
          </div>

        </form>

      </div>
    </div>


  </div>
</main>

{% endblock %}
