{% extends "global/prototypes_base.html" %}

{% block page_title %}
  Relationship token
{% endblock %}

{% block head %}
  <link href="{{ prototypes_asset_path }}stylesheets/legal-document-1-0.css" media="screen" rel="stylesheet" type="text/css">
  <link href="{{ prototypes_asset_path }}stylesheets/relationship-starts-2-0.css" media="screen" rel="stylesheet" type="text/css">
{% endblock %}
  
{% block content %}

<main id="wrapper" role="main">
  <div id="content">

    {% include "includes/prototypes_banner.html" %}

    <div class="outer-block">
      <div class="inner-block">

        <div class="callout callout--action-notice callout--generated-token">
          <h1>You've signed the deeds</h1>
        </div>

        <div class="text">
          <p class="lede">You’ve signed the deeds for the purchase of this property. The purchase will only be confirmed once all parties on the transaction have completed this process.</p>


          <h2 class="heading-medium">What happens next</h2>
          <p>Once you’ve signed the deeds your solicitor or conveyancer will be notified and will complete the transaction.</p>
        </div>

      </div>
    </div>


  </div>
</main>

{% endblock %}
