{% extends "global/prototypes_base.html" %}

{% block page_title %}
  Official register of title GHR67834
{% endblock %}

{% block body_classes %}register-view-v1 register-view-v1a-history{% endblock %}
  
{% block content %}

<main id="wrapper" role="main">

  <div id="content">

    {% include "includes/prototypes_banner.html" %}

    <div class="outer-block">
      <div class="inner-block">

        <div class="summary">

          <h1 class="heading-large">
            Official register of title <span class="title-flag">GHR67834</span>
          </h1>

          <p>
            This register was last changed on <b>7 August 2013</b> at <b>16:46:28</b>
          </p>

          <div class="lede">

            <div class="grid grid-1-3">

              <div itemscope itemtype ="http://schema.org/PostalAddress">
                <span itemprop="streetAddress">
                  Flat 18 Kingman Court<br>
                  Verdant Road<br>
                </span>
                <span itemprop="addressLocality">London</span><br>
                <span itemprop="postalCode">SV19 9BT</span>
              </div>

            </div>
            <div class="grid grid-1-3">

              <figure class="title-plan">
                <img src="{{ prototypes_asset_path }}images/dummy-title-plan.png" alt="">
              </figure>

            </div>

          </div>

          <dl class="inline">
            <dt>Registered owner(s)</dt>
            <dd>Matthew Jameson</dd>

            <dt>Mortgage lender</dt>
            <dd>General UK PLC</dd>

            <dt>Tenure</dt>
            <dd>Leasehold</dd>

            <dt>Quality of title</dt>
            <dd>Absolute</dd>

            <dt>Price paid</dt>
            <dd>&pound;450,000 on 26 July 2013</dd>
          </dl>

        </div>

      </div>
    </div>

    <div class="grid-wrapper">

      <div class="grid grid-1-4">
        <section class="inner-block page-contents js-stick-at-top-when-scrolling">
          <h2>Contents</h2>
          <nav>
            <ul>
              <li><a href="#property-details">Property details</a></li>
              <li><a href="#property-restrictions">Restrictions (2)</a></li>
              <li><a href="#property-restrictive-covenants">Restrictive covenants (1)</a></li>
              <li><a href="#property-easements">Easements (1)</a></li>
              <li><a href="#property-provisions">Provisions (1)</a></li>
              <li><a href="#maps-plans">Maps and plans</a></li>
              <li><a href="#related-documents">Related documents</a></li>
              <li><a href="#related-titles">Related titles</a></li>
              <li><a href="#historical-changes">Historical changes</a></li>
            </ul>
          </nav>
        </section>
      </div>

      <div class="grid grid-3-4">
        <div class="inner-block">
          
          <details open id="property-details" class="text first-item heading-toggle">
            <summary><h2 class="heading-medium">Property details</h2></summary>

            <p>
              The Leasehold land shown edged with red on the plan of the above Title filed at the Registry and being Flat 18 Kingman Court, Verdant Road, London SV19 9BT.
            </p>
            <p class="footnote">See <a href="#">architectural diagram showing first floor flat (pdf, 1.2mb)</a></p>
            
            <p>
              As to the part numbered one on the title plan only the first floor flat is included in the title.<br>
            </p>
            <p class="footnote">See <a href="#">architectural diagram showing first floor flat (pdf, 1.2mb)</a></p>
          
            <p>
              As to the part numbered two on the title plan only the first floor flat and ground floor store are included in the title.
            </p>
            <p class="footnote">See <a href="#">architectural diagram showing first floor flat (pdf, 1.2mb)</a> and <a href="#">architectural diagram showing ground floor store (pdf, 1.2mb)</a></p>

            <h3 class="heading-medium">Registered owner(s)</h3>
            <p>Matthew Jameson of Flat 18 Kingman Court, Verdant Road, London SV19 9BT.</p>
          
            <h3 class="heading-medium">Lease details</h3>
            <dl class="inline">
              <dt>Date</dt>
              <dd>11 February 1991</dd>
              <dt>Term</dt>
              <dd>125 years from 11 February 1991</dd>
              <dt>Rent</dt>
              <dd>&pound;10 and additional rent</dd>
              <dt>Parties</dt>
              <dd>
                The Mayor and Burgesses of the London Borough of Brent, Beatrice Surname
              </dd>
            </dl>
            <p class="footnote">
              The registered Lease is made pursuant to Part V of the Housing Act 1985 and the land has the benefit of and is subject to the easements and rights specified in paragraph 2 of Schedule 6 of the said Act.
            </p>
            <p class="footnote">
              Unless otherwise mentioned the title includes any legal easements granted by the registered lease(s) but is subject to any rights that it reserves, so far as those easements and rights exist and benefit or affect the registered land.
            </p>
          
            <h3 class="heading-medium">Mortgage lender</h3>
            <p>General UK PLC (Co. Regn. No. 2347676) of 12 Trinity Place, Regents Street, London NW10 6TQ.</p>
            
          </details>

          <details id="property-restrictions" class="text heading-toggle">
      
            <summary>
              <h2 class="heading-medium">Restrictions <span class="number-flag">2</span></h2>
            </summary>

            <details>
              <summary>What are restrictions?</summary>
              <div class="panel-indent">
                <p>“Restrictions” are nec pulvinar ipsum gravida at. Donec eu nulla lacus. Aliquam convallis fringilla velit vitae imperdiet. Suspendisse vehicula convallis.</p>
                <p>Some common examples:</p>
                <ul class="list-bullet">
                  <li>An example</li>
                </ul>
              </div>
            </details>

            <p>
              No disposition by a sole proprietor of the registered estate (except a trust corporation) under which capital money arises is to be registered unless authorised by an order of the court.
            </p>

            <p>
              No disposition of the registered estate by the proprietor of the registered estate is to be registered without a written consent signed by the proprietor for the time being of the Charge dated 27 July 2013 in favour of General UK PLC referred to in the Charges Register.
            </p>

          </details>

          <details id="property-restrictive-covenants" class="text heading-toggle">
      
            <summary>
              <h2 class="heading-medium">Restrictive covenants <span class="number-flag">1</span></h2>
            </summary>

            <details>
              <summary>What are restrictive covenants?</summary>
              <div class="panel-indent">
                <p>A “restrictive covenant” is a promise by one person to another, (such as a buyer of land and a seller) not to do certain things with the land or property.</p>
                <p>A restrictive covenant continues even when the current owner sells it to another person. Restrictive covenants continue to have effect even though they may have been made many years ago and appear to be obsolete.</p>
                <p>Some common examples:</p>
                <ul class="list-bullet">
                  <li>Not to keep a caravan on the property</li>
                  <li>Not to run a business from the property</li>
                  <li>Not to keep any animals other than domestic pets on the property</li>
                </ul>
              </div>
            </details>

            <div class="note">
              <p>
                A Deed dated 12 February 1991 made between Helen Cassidy and Clara Teoh contains restrictive covenants.
              </p>
              <p class="footnote">Copy filed under <a href="#">L234567</a></p>
            </div>

          </details>

          <details id="property-easements" class="text heading-toggle">
            
            <summary>
              <h2 class="heading-medium">Easements <span class="number-flag">1</span></h2>
            </summary>

            <details>
              <summary>What are easements?</summary>
              <div class="panel-indent">
                <p>“Easements” are rights to do or use something that the owner of one piece of land or property has over another piece of land or property owned by someone else.</p>
                <p>One piece of land or property has the “benefit” and the other has the “burden” of the rights. In many cases, both pieces of land or property can have both benefits and burdens.</p>
                <p>An easement attaches to the land or property itself and is not a personal right. Benefit and burden remain upon the affected land or property when there is a change of ownership.</p>
                <p>Some common examples:</p>
                <ul class="list-bullet">
                  <li>Rights of way such as public footpaths</li>
                  <li>Rights to run service pipes and cables underground</li>
                </ul>
              </div>
            </details>

            <p>
              The title includes any legal easements referred to in clause LR11.1 of the registered lease but is subject to any rights that are granted or reserved by the lease and affect the registered land.
            </p>

          </details>

          <details id="property-provisions" class="text heading-toggle">
      
            <summary>
              <h2 class="heading-medium">Provisions <span class="number-flag">1</span></h2>
            </summary>

            <details>
              <summary>What are provisions?</summary>
              <div class="panel-indent">
                <p>“Provisions” are nec pulvinar ipsum gravida at. Donec eu nulla lacus. Aliquam convallis fringilla velit vitae imperdiet. Suspendisse vehicula convallis.</p>
                <p>Some common examples:</p>
                <ul class="list-bullet">
                  <li>An example</li>
                </ul>
              </div>
            </details>

            <p>
              A transfer dated 12 February 1991 made between Helen Cassidy and Clara Teoh contains provisions as to light or air, boundary structures and other matters.
            </p>
            <p class="footnote">Copy filed under <a href="#">L123456</a></p>

          </details>

          <details id="maps-plans" class="text heading-toggle">
      
            <summary>
              <h2 class="heading-medium">Maps and plans</h2>
            </summary>

            <figure class="title-plan">
              <img src="{{ prototypes_asset_path }}images/dummy-title-plan.png" alt="">
              <figcaption>
                <p>Extent of title GHR67834, subject to <a href="#">general boundaries</a></p>
              </figcaption>
            </figure>

            <ul class="list-bullet">
              <li><a href="#">Architectural diagram showing ground floor store (pdf, 1.2mb)</a></li>
              <li><a href="#">Architectural diagram showing first floor flat (pdf, 1.2mb)</a></li>
            </ul>

          </details>

          <details id="related-documents" class="text heading-toggle">
            
            <summary>
              <h2 class="heading-medium">Related documents</h2>
            </summary>

            <ul class="list-bullet">
              <li><a href="#">Deed document L123456 (pdf, 450k)</a></li>
              <li><a href="#">Deed document L234567 (pdf, 450k)</a></li>
              <li><a href="#">Deed document #3 (pdf, 450k)</a></li>
              <li><a href="#">Deed document #4 (pdf, 450k)</a></li>
              <li><a href="#">Deed document #5 (pdf, 450k)</a></li>
            </ul>

          </details>

          <details id="related-titles" class="text heading-toggle">
      
            <summary>
              <h2 class="heading-medium">Related titles</h2>
            </summary>

            <ul class="list-bullet">
              <li><a href="#">GHR67827: Kingman Court</a></li>
              <li><a href="#">GHR67827: Flat 17 Kingman Court</a></li>
              <li><a href="#">GHR67827: Flat 19 Kingman Court</a></li>
            </ul>

          </details>

          <details id="historical-changes" class="changes text heading-toggle">
      
            <summary>
              <h2 class="heading-medium">Historical changes</h2>
            </summary>

            <ul class="list-bullet">
              <li><a href="register-v1a-history-1"><time datetime="2013-08-07">7 August 2013</time> (5)</a></li>
              <li><a href="#"><time datetime="1991-02-12">12 February 1991</time> (4)</a></li>
            </ul>

          </details>

        </div>
      </div>

    </div>

  </div>

</main>

{% endblock %}