{% extends "global/prototypes_base.html" %}

{% block head %}
  <link href="{{ prototypes_asset_path }}stylesheets/register-view-2-0.css" media="screen" rel="stylesheet" type="text/css">
{% endblock %}

{% block page_title %}
  Official register of title GHR67834
{% endblock %}
  
{% block content %}

<main id="wrapper" role="main">

  <div id="content">

    {% include "includes/prototypes_banner.html" %}

    <div class="outer-block">
      <div class="inner-block">


        <div class="callout callout--summary">

          <h1 class="heading-large first-heading">
            Official register of title <span class="title-flag">GHR67834</span>
          </h1>

          <p>
            This register was last changed on <b>7 August 2013</b> at <b>16:46:28</b>
          </p>

          <div class="lede">

            <div class="grid grid-1-3">

              <div itemscope itemtype="http://schema.org/PostalAddress">
                <span itemprop="streetAddress">
                  Flat 18 Kingman Court<br>
                  Verdant Road<br>
                </span>
                <span itemprop="addressLocality">London</span><br>
                <span itemprop="postalCode">SV19 9BT</span>
              </div>

            </div>

            <figure class="grid grid-1-3">
              <div class="title-plan">
                <a href="#maps-plans"><img src="{{ prototypes_asset_path }}images/dummy-title-plan.png" alt=""></a>
              </div>
              <!--<div id="map" class="title-plan" style="width:300px; height:200px;">
                <script type='text/javascript'>
                var extentData = { title.extent | tojson };
                var apiKey = "{ apiKey }";
                </script>
                <script src="{ asset_path }/javascripts/map.js"></script>
              </div>-->
            </figure>

          </div>

          <dl class="definition-tabular">
            <dt>Owner(s)</dt>
            <dd>
              <!-- if there's only 1 registered owner, don't wrap a <ul> -->
              <ul class="collapse">
                <li>Matthew Jameson</li>
                <li>Jennifer Spencer</li>
              </ul>
            </dd>

            <dt>Lender(s)</dt>
            <dd>General UK PLC</dd>

            <dt>Tenure type</dt>
            <dd>Leasehold</dd>

            <dt>Title quality</dt>
            <dd>Absolute</dd>

            <dt>Price paid</dt>
            <dd>&pound;450,000 on 26 July 2013</dd>
          </dl>

        </div>

      </div>
    </div>

    <div class="grid-wrapper">

      <div class="grid grid-1-4">
        <section class="inner-block page-contents js-stick-at-top-when-scrolling">
          <h2 class="visuallyhidden">Register contents</h2>
          <nav>
            <ul>
              <li><a href="#property-details">Property details</a></li>
              <li><a href="#property-restrictions">Restrictions (2)</a></li>
              <li><a href="#property-restrictive-covenants">Restrictive covenants (1)</a></li>
              <li><a href="#property-easements">Easements (1)</a></li>
              <li><a href="#property-provisions">Provisions (1)</a></li>
              <li><a href="#maps-plans">Maps and plans</a></li>
              <li><a href="#related-documents">Related documents</a></li>
            </ul>
          </nav>
        </section>
      </div>

      <div class="grid grid-3-4">
        <div class="inner-block">
          
          <section id="property-details" class="text first-item js-faux-details js-faux-details--open">
            
            <h2 class="heading-medium">Property details</h2>

            <p>
              The highlighted leasehold land is Flat 18 Kingman Court, Verdant Road, London SV19 9BT.
            </p>
            <p>
              Only the first floor flat (marked 1 on the title plan) and the ground floor store (marked 2) are included in the title.
            </p>
            <p class="footnote">See <a href="#">extent of title</a> and <a href="#">architectural diagram (pdf, 1.2mb)</a></p>
          
            <h3 class="heading-medium">Lease details</h3>
            <dl class="definition-tabular">
              <dt>Date</dt>
              <dd>11 February 1991</dd>
              <dt>Term</dt>
              <dd>125 years from 11 February 1991</dd>
              <dt>Rent</dt>
              <dd>&pound;10 and additional rent</dd>
              <dt>Lessor</dt>
              <dd>The Mayor and Burgesses of the London Borough of Brent</dd>
              <dt>Lessee</dt>
              <dd>Beatrice Surname</dd>
            </dl>
            <p class="footnote">
              The registered Lease is made pursuant to Part V of the Housing Act 1985 and the land has the benefit of and is subject to the easements and rights specified in paragraph 2 of Schedule 6 of the said Act.
            </p>
            <p class="footnote">
              Unless otherwise mentioned the title includes any legal easements granted by the registered lease(s) but is subject to any rights that it reserves, so far as those easements and rights exist and benefit or affect the registered land.
            </p>
            <p class="footnote">
              The lessor’s title is registered.
            </p>

            


            <div class="group">
              <h3 class="heading-medium">Owner(s)</h3>

              <div class="grid grid-1-2">
                <p>
                  Matthew Jameson<br>
                  118 Leafy Way,<br>
                  Thale,<br>
                  Berks<br>
                  RG12 9AB
                </p>
              </div>

              <div class="grid grid-1-2">
                <p>
                  Jennifer Spencer<br>
                  88 Monad Road,<br>
                  Slough,<br>
                  Berks<br>
                  SL20 3JD
                </p>
              </div>

            </div>

            <h3 class="heading-medium">Lender(s)</h3>
            <ol class="list-number">
              <li>
                <p>
                  General UK PLC (Co. Regn. No. 2347676)<br>
                  12 Trinity Place,<br>
                  Regents Street,<br>
                  London<br>
                  NW10 6TQ
                </p>
                <p><a href="#">Registered charge</a> dated 26 July 2013</p>
              </li>
            </ol>
            
          </section>

          <section id="property-restrictions" class="text js-faux-details">

            <h2 class="heading-medium">Restrictions <span class="number-flag">2</span></h2>

            <details>
              <summary>What are restrictions?</summary>
              <div class="panel-indent">
                <p>A restriction limits the powers of a registered owner to deal with or dispose of the registered land. It may also limit the powers of a chargee to dispose of a charge.</p>
              </div>
            </details>

            <p>
              No disposition by a sole proprietor of the registered estate (except a trust corporation) under which capital money arises is to be registered unless authorised by an order of the court.
            </p>

            <p>
              No disposition of the registered estate by the proprietor of the registered estate is to be registered without a written consent signed by the proprietor for the time being of the Charge dated 27 July 2013 in favour of General UK PLC referred to in the Charges Register.
            </p>

          </section>

          <section id="property-restrictive-covenants" class="text js-faux-details">

            <h2 class="heading-medium">Restrictive covenants <span class="number-flag">1</span></h2>

            <details>
              <summary>What is a restrictive covenant?</summary>
              <div class="panel-indent">
                <p>A restrictive covenant is a promise by one person to another (eg a buyer of land and a seller) not to do certain things with the property or land. The restrictions will continue to be in effect for any subsequent buyer.</p>
                <p>Common examples of restrictive covenants include:</p>
                <ul class="list-bullet">
                  <li>preventing alterations to an existing property</li>
                  <li>agreeing not to run a business from the property</li>
                </ul>
              </div>
            </details>

            <div class="note">
              <p>
                A Deed dated 11 February 1991 contains restrictive covenants.
              </p>

              <div class="deed-relationship">
                <dl>
                  <dt>Between</dt>
                  <dd>Gregory Cassidy</dd>
                  <dd>Jerome Hall</dd>
                </dl>
                <dl>
                  <dt>and</dt>
                  <dd>Marie Smith</dd>
                </dl>
              </div>

              <p class="footnote">
                See <a href="#">Deed document L234567 (pdf, 450k)</a>.<br>
                Deed originally filed under title <a href="#">L234567</a>.
              </p>
            </div>

          </section>

          <section id="property-easements" class="text js-faux-details">

            <h2 class="heading-medium">Easements <span class="number-flag">1</span></h2>

            <details>
              <summary>What are easements?</summary>
              <div class="panel-indent">
                <p>An easement is a right to use someone else's land for a specified purpose. It relates to the land or property itself and isn’t a personal right.</p>
                <p>Common examples of easements:</p>
                <ul class="list-bullet">
                  <li>rights of way such as public footpaths</li>
                  <li>rights to run service pipes and cables underground</li>
                </ul>
              </div>
            </details>

            <p>
              The title includes any legal easements referred to in clause LR11.1 of the registered lease but is subject to any rights that are granted or reserved by the lease and affect the registered land.
            </p>

          </section>

          <section id="property-provisions" class="text js-faux-details">

            <h2 class="heading-medium">Provisions <span class="number-flag">1</span></h2>

            <details>
              <summary>What are provisions?</summary>
              <div class="panel-indent">
                <p>A provision is an agreement between parties which usually relates to ownership and maintenance of boundaries and the right to the enjoyment of light and air.</p>
              </div>
            </details>

            <div class="note">
              <p>
                A transfer dated 11 February 1991 contains provisions as to light or air, boundary structures and other matters.
              </p>

              <div class="deed-relationship">
                <dl>
                  <dt>Between</dt>
                  <dd>Gregory Cassidy</dd>
                  <dd>Jerome Hall</dd>
                </dl>
                <dl>
                  <dt>and</dt>
                  <dd>Marie Smith</dd>
                </dl>
              </div>

              <p class="footnote">
                See <a href="#">Deed document L123456 (pdf, 450k)</a>.<br>
                Deed originally filed under title <a href="#">L123456</a>.
              </p>

            </div>

          </section>

          <section id="maps-plans" class="text js-faux-details">

            <h2 class="heading-medium">Maps and plans</h2>

            <figure class="maps-and-plans-item">
              <img src="{{ prototypes_asset_path }}images/dummy-title-plan.png" alt="">
              <figcaption>
                <p>Extent of title GHR67834, subject to <a href="#">general boundaries</a></p>
              </figcaption>
            </figure>

            <figure class="maps-and-plans-item">
              <img src="{{ prototypes_asset_path }}images/dummy-register-plan.png" alt="">
              <figcaption>
                <p>Title plan for GHR67834</p>
              </figcaption>
            </figure>

          </section>

          <section id="related-documents" class="text js-faux-details">

            <h2 class="heading-medium">Related documents</h2>

            <ul class="list-bullet">
              <li><a href="#">Architectural diagram showing ground floor store (pdf, 1.2mb)</a></li>
              <li><a href="#">Architectural diagram showing first floor flat (pdf, 1.2mb)</a></li>
              <li><a href="#">Deed document L123456 (pdf, 450k)</a></li>
              <li><a href="#">Deed document L234567 (pdf, 450k)</a></li>
              <li><a href="#">Registered charge dated 26 July 2013 (pdf, 450k)</a></li>
              <li><a href="#">Deed document #4 (pdf, 450k)</a></li>
              <li><a href="#">Deed document #5 (pdf, 450k)</a></li>
            </ul>

          </section>

        </div>

        <div class="inner-block">
          <div class="register-related-items">

            <section class="js-faux-details">

              <h3 id="changes-to-title" class="heading-medium">Changes to title GHR67834</h3>

              <!-- DAY LIST GOES HERE -->
              <h4 class="heading-small">Pending changes</h4>
              <ol class="list-number">
                <li>A change of some type</li>
                <li>A change of some type</li>
                <li>A change of some type</li>
                <li>A change of some type</li>
                <li>A change of some type</li>
              </ol>

              <h4 class="heading-small">Historical changes</h4>

              <details>
                <summary><time datetime="2013-08-07">7 August 2013</time> (3)</summary>

                <h4>Owner(s)</h4>

                <div class="changelog">

                  <div class="removal">
                    <h5>Removed</h5>
                    <p>
                      <del>Grace Dent of Flat 18 Kingman Court, Verdant Road, London SV19 9BT.</del>
                    </p>
                  </div>

                  <div class="addition">
                    <h5>Added</h5>
                    <ul>
                      <li><ins>Matthew Jameson of 118 Leafy Way, Thale, Berks RG12 9AB.</ins></li>
                      <li><ins>Jennifer Spencer of 88 Monad Road, Slough, Berks SL20 3JD.</ins></li>
                    </ul>
                  </div>

                </div>

                <h4>Lender(s)</h4>

                <div class="changelog">

                  <div class="removal">
                    <h5>Removed</h5>
                    <ol class="list-number">
                      <li>
                        <del>Another UK PLC (Co. Regn. No. 2347676)</del> of <del>21 Diam Street, London SE10 4QT</del>
                      </li>
                    </ol>
                  </div>

                  <div class="addition">
                    <h5>Added</h5>
                    <ol class="list-number">
                      <li>
                        <ins>General UK PLC (Co. Regn. No. 1231234)</ins> of <ins>12 Trinity Place, Regents Street, London NW10 6TQ</ins>
                      </li>
                    </ol>
                  </div>

                </div>

                <h4>Restrictions</h4>

                <div class="changelog">

                  <div class="removal">
                    <h5>Removed</h5>
                    <p>
                      No disposition of the registered estate by the proprietor of the registered estate is to be registered without a written consent signed by the proprietor for the time being of the Charge dated <del>12 February 1991</del> in favour of <del>Another UK PLC</del> referred to in the Charges Register.
                    </p>
                  </div>

                  <div class="addition">
                    <h5>Added</h5>
                    <p>
                      No disposition of the registered estate by the proprietor of the registered estate is to be registered without a written consent signed by the proprietor for the time being of the Charge dated <ins>27 July 2013</ins> in favour of <ins>General UK PLC</ins> referred to in the Charges Register.
                    </p>
                  </div>

                </div>
              </details>

            </section>

            <section class="js-faux-details">

              <h3 class="heading-medium">Related titles</h3>

              <ul class="list-bullet">
                <li><a href="#">GHR67827: Kingman Court</a></li>
                <li><a href="#">GHR67678: Flat 17 Kingman Court</a></li>
                <li><a href="#">GHR78956: Flat 19 Kingman Court</a></li>
              </ul>

            </section>

          </div>
        </div>

        <div class="inner-block">
          <div class="register-make-change">
            <a href="#" class="button">Make a change to the register</a>
          </div>
        </div>

      </div>

    </div>

  </div>

</main>

{% endblock %}

{% block body_end %}
  <script src="{{ prototypes_asset_path }}javascripts/vendor/jquery-1.11.1.min.js"></script>
  <script src="{{ prototypes_asset_path }}javascripts/govuk-elements.js"></script>
  <script src="{{ prototypes_asset_path }}javascripts/stick-at-top-when-scrolling.js"></script>
  <script src="{{ prototypes_asset_path }}javascripts/stop-scrolling-at-footer.js"></script>

  <script src="{{ prototypes_asset_path }}javascripts/lr-faux-details.js"></script>
  <script src="{{ prototypes_asset_path }}javascripts/register-view-2-0.js"></script>
{% endblock %}