{% extends "global/prototypes_base.html" %}

{% block head %}
  <link href="{{ prototypes_asset_path }}stylesheets/register-view-2-0.css" media="screen" rel="stylesheet" type="text/css">
  <link href="{{ prototypes_asset_path }}stylesheets/register-print.css" media="print" rel="stylesheet" type="text/css" />
{% endblock %}

{% block page_title %}
  Official register of title DT122047
{% endblock %}
  
{% block content %}

<main id="wrapper" role="main">

  <div id="content">

    {% include "includes/prototypes_banner.html" %}

    <div class="outer-block">
      <div class="inner-block">

        <div class="callout callout--summary">

          <h1 class="heading-large first-heading">
            Land Ownership Record <span class="title-flag">MARS0001</span>
          </h1>

          <p>
            Last updated <b>28 January 2014</b> at <b>11:58:58</b>
          </p>

          <div class="lede">

            <div class="grid grid-1-3">

              <div itemscope itemtype="http://schema.org/PostalAddress">
                <span itemprop="streetAddress">
                  6 New Road<br>
                </span>
                <span itemprop="addressLocality">Sydney Town</span><br>
                <span itemprop="addressLocality">New Plymouth</span><br>
              </div>
<br>


              <div>
                <ul>       
                  <li>6 acres of farm land</li>
                  <li>A 3 bedroom shack</li>
                </ul>
              </div>

            </div>

            <figure class="grid grid-1-2">
              <div class="title-plan">
                <a href="#maps-plans"><img src="{{ prototypes_asset_path }}images/where.jpg" alt=""></a>
              </div>
            </figure>

          </div>

<!--           <dl class="definition-tabular">
            <dt>Owner/Proprietor(s)</dt>
            <dd>

              <ul class="collapse">
                <li>Raymond Frank Easton</li>
                <li>Carol Easton</li>
              </ul>
            </dd>

            <dt>Lender(s)</dt>
            <dd>Santander</dd>

            <dt>Tenure type</dt>
            <dd>Leasehold</dd>

            <dt>Price paid</dt>
            <dd>&pound;248,000 on 20 June 2005</dd>

          </dl> -->

<!--           <div>
            <h2 class="heading-large">What is it?</h2>

            <ul>
              <li>A 3 bedroom shack</li>
              <li>Size: 6 acres of garden and farm land</li>
            </ul>
          </div> -->

<!--           <div class="pending-changes-flag">
            <p>
           There is <a href="/find-owner/changes-view">a pending application</a> to remove the mortgage</p>
          </div> -->



        </div><!-- end summary -->

      </div>
    </div>

    <div class="grid-wrapper">

      <div class="grid grid-1-4 register-nav">
        <section class="inner-block page-contents js-stick-at-top-when-scrolling">
          <h2 class="visuallyhidden">Register contents</h2>
          <nav>
            <ul>
              <li><a href="#who-owns-it">Who owns it</a></li>
              <li><a href="#What-cant-i-do-with-it">What you can't do with it</a></li>
              <li><a href="#What-can-other-people-do-with-it">What other people can do with it</a></li>
              <li><a href="#What-can-I-do-on-other-peoples-land">What you can do on other people’s land</a></li>

            </ul>
          </nav>
        </section>
      </div>

      <div class="grid grid-3-4">
        <div class="inner-block">
          
<!--           <section id="where-is-it" class="text first-item">
            
            <h2 class="heading-large">Where is it?</h2>

              <div class="grid grid-1-2">
                <p>
                  6 New Road,<br>
                  Sydney Town,<br>
                  New Plymouth<br>
                </p>
              </div>

              <div class="grid grid-1-2">
                <figure>
                  <div class="title-plan">
                    <a href="#maps-plans"><img src="{{ prototypes_asset_path }}images/where.jpg" alt=""></a>
                  </div>
                </figure>
              </div>
 
          
          </section> -->

<!--           <section id="what-is-it" class="text">
            
            <h2 class="heading-large">What is it?</h2>

            <ul>
              <li>A 3 bedroom shack</li>
              <li>Size: 6 acres of garden and farm land</li>
            </ul>
          
          </section> -->

          <section id="who-owns-it" class="text">
            
            <h2 class="heading-large">Who owns it</h2>

            <ul>
              <li>You (Melissa Ang)</li>
              <li>Your partner (Jennifer Peters)</li>
              <li>Plymouth Building Society</li>
            </ul>

        <!--     <p class="footnote">See <a href="404">extent of title</a></p> -->
          
          </section>

          <section id="What-cant-i-do-with-it" class="text">
            
            <h2 class="heading-large">What you can't do with it</h2>

            <ul>
              <li>You can’t mine this land</li>
              <li>You can’t build a factory</li>
              <li>You can’t use this land for business</li>
            </ul>

        <!--     <p class="footnote">See <a href="404">extent of title</a></p> -->
          
          </section>


          <section id="What-can-other-people-do-with-it" class="text">
            
            <h2 class="heading-large">What other people can do with it</h2>

            <ul>
              <li>There’s a right of way at the south-west boundary</li>
              <li>The outside toilet is for public use</li>
            </ul>

        <!--     <p class="footnote">See <a href="404">extent of title</a></p> -->
          
          </section>


          <section id="What-can-I-do-on-other-peoples-land" class="text">
            
            <h2 class="heading-large">What you can do on other people’s land</h2>

            <p><a href="404">links</a></p>
            <ul>
              <li>You can use highlighted section of 8 New Road to access your property or main road</li>
              <li>The roof of your property can overhang 4 New Road</li>
            </ul>

        <!--     <p class="footnote">See <a href="404">extent of title</a></p> -->
          
          </section>

<!--           <section id="xxxx" class="text">
            
            <h2 class="heading-large">xxxx</h2>

            <ul>
              <li>ffff</li>
              <li>gggg</li>
            </ul>
          
          </section> -->

<!--           <section class="text">
            <h3 class="heading-large">Lease details</h3>
            <dl class="definition-tabular">
              <dt>Date</dt>
              <dd>25 January 2005</dd>
              <dt>Term</dt>
              <dd>250 years less one month from 25 January 2005 (240 years and 2 months remaining)</dd>
              <dt>Lessor</dt>
              <dd>Ryevale Estates Limited</dd>
              <dt>Management</dt>
              <dd>Wheatbury (Burco 2) Limited</dd>
              <dt>Lessee</dt>
              <dd>Raymond Frank Easton and Carol Easton</dd>
            </dl>

            <p class="footnote">
              See <a href="404">Lease document L234567 (pdf, 450k)</a>.<br>
              Lease originally filed under title <a href="404">DT3572811</a>.
            </p>

            <p class="footnote">
              There are excepted from the effect of registration all estates, rights, interests, powers and remedies arising upon, or by reason of, any dealing made in breach of the prohibition or restriction against dealings therewith inter vivos contained in the Lease.
            </p>
            <p class="footnote">
              Unless otherwise mentioned the title includes any legal easements granted by the registered lease(s) but is subject to any rights that it reserves, so far as those easements and rights exist and benefit or affect the registered land.
            </p>
            <p class="footnote">
              The lessor's title is registered.
            </p>

            <p class="footnote">A Deed dated 2 March 2009 made between (1) Ryevale Estates Limited and (2) Raymond Frank Easton and Carol Easton rectified the terms of the registered lease.</p>

            <p class="footnote">
              See <a href="404">Deed document L8975567 (pdf, 450k)</a>.<br>
              Deed originally filed under title <a href="404">DT122047</a>.
            </p>

            <div class="group">
              <h3 class="heading-large">Owner/Proprietor(s)</h3>



              <div class="grid grid-1-2">
                <p>
                  Raymond Frank Easton<br>
                  5 Granary Avenue,<br>
                  Poundbury,<br>
                  Dorchester,<br>
                  Dorset
                </p>
              </div>

              <div class="grid grid-1-2">
                <p>
                  Carol Easton<br>
                  5 Granary Avenue,<br>
                  Poundbury,<br>
                  Dorchester,<br>
                  Dorset
                </p>
              </div>

              <details>
                <summary>the owners have absolute title</summary>
                <div class="panel-indent">
                  <p>Title to a property that is free of any encumbrances or deficiencies. Absolute title gives unequivocal right of ownership to the owner, and cannot be disputed or challenged by anyone else.</p>
                </div>
              </details>

            </div>

            <h3 class="heading-large">Lender(s)</h3>
            <ol class="list-number">
              <li>
                <p>
                  Santander UK PLC (Co. Regn. No. 2294747)<br>
                  2 Triton Square,<br>
                  Regents Street,<br>
                  London<br>
                  NW1 3AN
                </p>
                <p><a href="404">Registered charge</a> dated 26 July 2013</p>
              </li>
            </ol>

          </section> -->



<!--           <section id="maps-plans" class="text">

            <h2 class="heading-large">Maps and plans</h2>

            <figure class="maps-and-plans-item">
              <img src="{{ prototypes_asset_path }}images/dummy-title-plan18.png" alt="">
              <figcaption>
                <p>Extent of title DT122047, subject to <a href="404">general boundaries</a></p>
              </figcaption>
            </figure>

            <figure class="maps-and-plans-item">
              <img src="{{ prototypes_asset_path }}images/test-title-plan.png" alt="">
              <figcaption>
                <p>Title plan for DT122047</p>
                <p class="footnote">As to the part tinted blue on the title plan only the second floor is included in the title.</p>
              </figcaption>
            </figure>

          </section> -->

<!--           <section id="related-documents" class="text">

            <h2 class="heading-large">Deeds, leases and other documents</h2>

            <ul>
              <li><a href="404">Original lease L234567, 25 Jan 2005 (pdf, 450k)</a></li>
              <li><a href="404">Deed rectifying lease, L8975567, 2 Mar 2009 (pdf, 450k).</a></li>
              <li><a href="404">Deed containing provision, L256714, 6 Dec 2004 (pdf, 350k).</a></li>
              <li><a href="404">Deed document #5 (pdf, 450k)</a></li>
              <li><a href="404">Mortgage deed</a></li>
            </ul>

          </section> -->

        </div>

 

      </div>

    </div>

  </div>

</main>

{% endblock %}

{% block body_end %}
  <script src="{{ prototypes_asset_path }}javascripts/vendor/jquery-1.11.1.min.js"></script>
  <script src="{{ prototypes_asset_path }}javascripts/govuk-elements.js"></script>
  <script src="{{ prototypes_asset_path }}javascripts/stick-at-top-when-scrolling.js"></script>
  <script src="{{ prototypes_asset_path }}javascripts/stop-scrolling-at-footer.js"></script>

<!--   <script src="{{ prototypes_asset_path }}javascripts/lr-faux-details.js"></script> -->
  <script src="{{ prototypes_asset_path }}javascripts/register-view-2-0.js"></script>
{% endblock %}