{% extends "global/prototypes_base.html" %}

{% block head %}
  <link href="{{ prototypes_asset_path }}stylesheets/register-view-citizen-1.css" media="screen" rel="stylesheet" type="text/css">
{% endblock %}

{% block page_title %}
  Official register of title DT122047
{% endblock %}
  
{% block content %}

<main id="wrapper" role="main">

  <div id="content">

    {% include "includes/prototypes_banner.html" %}

    <div class="outer-block">
      <div class="inner-block">

        <div class="callout callout--summary">

          <h1 class="heading-large first-heading">
            Register of title <span class="title-flag">DT122047</span>
          </h1>

          <p>
            This register was last changed on <b>28 January 2014</b> at <b>11:58:58</b>
          </p>

          <div class="lede">

            <div class="grid grid-1-3">

              <div itemscope itemtype="http://schema.org/PostalAddress">
                <span itemprop="streetAddress">
                  5 Granary Avenue<br>
                </span>
                <span itemprop="addressLocality">Poundbury</span><br>
                <span itemprop="addressLocality">Dorchester</span><br>
                <span itemprop="postalCode">DT1 4YY</span>
              </div>

            </div>

            <figure class="grid grid-1-3">
              <div class="title-plan">
                <a href="#maps-plans"><img src="{{ prototypes_asset_path }}images/dummy-title-plan18.png" alt=""></a>
              </div>
            </figure>

          </div>

          <dl class="definition-tabular--b">
            <dt>Owner(s)</dt>
            <dd>
              <!-- if there's only 1 registered owner, don't wrap a <ul> -->
              <ul class="collapse">
                <li>Raymond Frank Easton</li>
                <li>Carol Easton</li>
              </ul>
            </dd>

            <dt>Lender(s)</dt>
            <dd>Santander</dd>

            <dt>Tenure type</dt>
            <dd>Leasehold</dd>

            <dt>Price paid</dt>
            <dd>&pound;248,000 on 20 June 2005</dd>

          </dl>

          <div class="pending-changes-flag">
            <p>
              <a href="#">There is a pending application to remove the mortgage</a>
            </p>
          </div>

        </div><!-- end summary -->

      </div>
    </div>

    <div class="grid-wrapper">

      <div class="grid grid-1-3 register-nav">
        <section class="inner-block page-contents js-stick-at-top-when-scrolling">
          <h2 class="visuallyhidden">Register contents</h2>
          <nav>
            <ul>
              <li><a href="#property-details">Property details</a></li>
              <li><a href="#things">Things that affect this property</a></li>
              <li><a href="#legal-copy">Download a legal copy</a></li>
              <li><a href="#historical-changes">Changes to this title</a></li>
              <li><a href="#related-titles">Related properties</a></li>
            </ul>
          </nav>
        </section>
      </div>

      <div class="grid grid-2-3">
        <div class="inner-block">
          
          <section id="property-details" class="text first-item">
            
            <h2 class="heading-large">Property details</h2>

            <figure class="maps-and-plans-item">
              <figcaption>
                <p>
                  The land shown edged with red on the title plan is 5 Granary Avenue, Poundbury, Dorchester, DT1 4YY and parking space.
                </p>
                <p>Only the second floor is included in the title, tinted blue.</p>
              </figcaption>
              <img src="{{ prototypes_asset_path }}images/test-title-plan.png" alt="Title pan of DT122047">
            </figure>
          
          </section>

          <section class="text">
            <h3 class="heading-medium">Lease details</h3>
            <dl class="definition-tabular">
              <dt>Date</dt>
              <dd>25 January 2005</dd>
              <dt>Term</dt>
              <dd>250 years less one month from 25 January 2005 (240 years and 2 months remaining)</dd>
              <dt>Lessor</dt>
              <dd>Ryevale Estates Limited</dd>
              <dt>Management</dt>
              <dd>Wheatbury (Burco 2) Limited</dd>
              <dt>Lessee</dt>
              <dd>Raymond Frank Easton and Carol Easton</dd>
            </dl>

            <h4 class="documents">Associated documents</h4>
            <div class="footnote">
              <ul class="list-bullet">
                <li><a href="404">Lease document L234567</a> originally filed under title <a href="404">DT3572811</a></li>
                <li><a href="404">Deed document L8975567 (pdf, 450k)</a> originally filed under title <a href="404">DT122047</a></li>
              </ul>
            </div>
            
            <h3 class="heading-medium">Owner(s)</h3>

            <div class="group">
              <div class="grid grid-1-2">
                Raymond Frank Easton<br>
                5 Granary Avenue,<br>
                Poundbury,<br>
                Dorchester,<br>
                Dorset
              </div>

              <div class="grid grid-1-2">
                Carol Easton<br>
                5 Granary Avenue,<br>
                Poundbury,<br>
                Dorchester,<br>
                Dorset
              </div>
            </div>

            <h3 class="heading-medium">Lender(s)</h3>
            <ol>
              <li>
                Santander UK PLC (Co. Regn. No. 2294747)<br>
                2 Triton Square,<br>
                Regents Street,<br>
                London<br>
                NW1 3AN
              </li>
            </ol>

            <h4 class="documents">Associated documents</h4>
            <div class="footnote">
              <ul class="list-bullet">
                <li><a href="404">Santander registered charge</a> dated 26 July 2013</li>
              </ul>
            </div>

          </section>

          <div class="text" id="things">
            <h2 class="heading-large">Things that affect this property</h2>
          </div>

          <section id="property-restrictions" class="text">
            <h3>Restrictions:<br>conditions for changing your register</h3>

            <details>
              <summary>More about restrictions</summary>
              <div class="panel-indent footnote">
                <p>A restriction limits the powers of a registered owner to deal with or dispose of the registered land. It may also limit the powers of a chargee to dispose of a charge.</p>
              </div>
            </details>

            <ol class="items list-number">
              <li>
                <p>No disposition of the registered estate (other than a charge) by the proprietor of the registered estate or by the proprietor of a registered charge is to be registered without a certificate signed by Wheatbury (Burco 2) Limited of Heritage Court, 73 West Highland Road, Dorchester, Dorset WT1 3EE that the provisions of clause 4.1.5 or 4.1.7 of the registered Lease have been complied with.</p>
              </li>
              <li>
                <p>No disposition by a sole proprietor of the registered estate (except a trust corporation) under which capital money arises is to be registered unless authorised by an order of the court.</p>
              </li>
            </ol>

          </section>

          <section id="property-restrictive-covenants" class="text">
              <h3>Restrictive covenants:<br>what your land can’t be used for</h3>

              <details>
                <summary>More about restrictive covenants</summary>
                <div class="panel-indent footnote">
                  <p>A restrictive covenant is a promise by one person to another (eg a buyer of land and a seller) not to do certain things with the property or land. The restrictions will continue to be in effect for any subsequent buyer.</p>
                  <p>Common examples of restrictive covenants include:</p>
                  <ul class="list-bullet">
                    <li>preventing alterations to an existing property</li>
                    <li>agreeing not to run a business from the property</li>
                  </ul>
                </div>
              </details>

              <ol class="items">
                <li>
                  <p>There are <strong>no restrictive covenants</strong> that affect this property.</p>
                </li>
              </ol>

          </section>

          <section id="property-easements" class="text">
            <h3>Easements:<br>rights of way</h3>

            <details>
              <summary>More about easements</summary>
              <div class="panel-indent footnote">
                <p>An easement is a right to use someone else's land for a specified purpose. It relates to the land or property itself and isn’t a personal right.</p>
                <p>Common examples of easements:</p>
                <ul class="list-bullet">
                  <li>rights of way such as public footpaths</li>
                  <li>rights to run service pipes and cables underground</li>
                </ul>
              </div>
            </details>

            <ol class="items list-number">
              <li>
                <p>The Wessex Water Authority has the right to enter in order to maintain sewage and water infrastructure. Reasonable notice in writing is required.</p>
                <h4 class="documents">Associated documents</h4>
                <div class="footnote">
                  <ul class="list-bullet">
                    <li><a href="404">Lease document L234567 (pdf, 450k)</a></li>
                  </ul>
                </div>
              </li>
            </ol>

          </section>

          <section id="property-provisions" class="text">

            <h3>Provisions:<br>other legal issues affecting your land</h3>

            <details>
              <summary>More about provisions</summary>
              <div class="panel-indent footnote">
                <p>Help text with examples...</p>
              </div>
            </details>

            <ol class="items list-number">
              <li>
                <p>The Transfer dated 6 December 2004 referred to above contains provisions as to light or air and boundary structures.</p>
              </li>
              <li>
                <p>
                  The land in this title falls within the area covered by a building scheme constituted under the provisions of transfers by His Royal Highness Charles Philip Arthur George Prince of Wales Duke of Cornwall and Rothesay Earl of Chester and Carrick Baron of Renfrew Lord of the Isles and Great Steward of Scotland. The Transfer of the freehold estate in the land in this title and other land is dated 6 December 2004 is in favour of Ryevale Estates Limited and the extent of the area affected by the scheme is described in that Transfer.
                </p>
                <h4 class="documents">Associated documents</h4>
                <div class="footnote">
                  <ul class="list-bullet">
                    <li><a href="404">Deed document L256714 (pdf, 350k)</a> originally filed under title <a href="404">DT327970</a></li>
                  </ul>
                </div>
              </li>
            </ol>

          </section>

          <section class="text legal-division--top legal-division--bottom" id="legal-copy">
            <h3 class="heading-large">Download a legal copy</h3>

            <p>
              You will need to download an <a href="{{ prototypes_asset_path }}pdf/Official Copy - DT122047-no-cover.pdf">official copy of the register and associated documents</a> if you need to prove property ownership, eg for a court case.
            </p>

          </section>

        </div>

        <div class="inner-block">
          <div class="register-related-items">

            <section id="historical-changes">

              <h3 class="heading-large">Changes to this title</h3>

              <p>
                View <a href="/find-owner/changes-view">pending and historical</a> changes to this title</a>
              </p>

            </section>

            <section id="related-titles">

              <h3 class="heading-large">Related properties</h3>

              <div class="panel-indent footnote">
                <p>Some text to explain. For example a parent freehold.</p>
              </div>

              <ul>
                <li><a href="404">Freehold register, title number DT3572811</a></li>
              </ul>

            </section>

          </div>
        </div>

      </div>

    </div>

  </div>

</main>

{% endblock %}

{% block body_end %}
  <script src="{{ prototypes_asset_path }}javascripts/vendor/jquery-1.11.1.min.js"></script>
  <script src="{{ prototypes_asset_path }}javascripts/govuk-elements.js"></script>
  <script src="{{ prototypes_asset_path }}javascripts/stick-at-top-when-scrolling.js"></script>
  <script src="{{ prototypes_asset_path }}javascripts/stop-scrolling-at-footer.js"></script>

  <script src="{{ prototypes_asset_path }}javascripts/register-view-citizen-1.js"></script>
{% endblock %}