{% extends "global/prototypes_base.html" %}

{% block head %}
  <link href="{{ prototypes_asset_path }}stylesheets/register-view-2-0.css" media="screen" rel="stylesheet" type="text/css">
  <link href="{{ prototypes_asset_path }}stylesheets/changes-1-0.css" media="screen" rel="stylesheet" type="text/css">
{% endblock %}

{% block page_title %}
  Changes to register of title DT122047
{% endblock %}
  
{% block content %}

<main id="wrapper" role="main">

  <div id="content">

    {% include "includes/prototypes_banner.html" %}

    <div class="outer-block">
      <div class="inner-block">

        <div class="breadcumb-reverse">
          <nav role="navigation">
            <a href="javascript:window.history.back()">Back to title</a>
          </nav>
        </div>

        <h1>Changes to title DT122047</h1>

        <h2 id="pending">Pending changes</h2>

        <div class="text">
          <p class="lede">There are upcoming changes to this title register.</p>
        </div>

        <ol class="register-changes-pending">
          <li>
            <time datetime="2014-10-11T10:32:18Z">11 Oct 2014 at 10:32:18</time>
            <span class="alert-flag">In progress</span>
<!--             <h3 class="heading-small">Priority reserved</h3>  -->
            <div class="text footnote">
              <p>Reserved for removal of mortgage</p>
            </div>
          </li>

<!--           <li>
            <h3 class="heading-small">Priority reserved</h3>
            <span class="alert-flag">Expires 15 November 2014</span>
            <div class="text footnote">
              <p>Reserved for a transfer and charge by Major &amp; Co Solicitors</p>
            </div>
          </li>

          <li>
            <h3 class="heading-small">Application to transfer ownership</h3>
            <span class="alert-flag">In progress</span>
            <div class="text footnote">
              <p>Submitted by Major &amp; Co Solicitors</p>
            </div>
          </li>

          <li>
            <h3 class="heading-small">Application to add a restriction</h3>
            <div class="text footnote">
              <p>County court judgement in favour of Sublime Finance Ltd.</p>
            </div>
          </li> -->
        </ol>

        <h2 id="history">Historical changes</h2>

        <div class="text">
          <p class="lede">Previous changes to this title register, in chronological order.</p>
        </div>

        <ol class="register-changes-previous">
          <li>
            <time datetime="2013-07-16T16:46:28Z">16 July 2013 at 16:46:28</time><!-- this level of accuracy? -->
            <h3 class="heading-small">Ownership transferred</h3>
            <div class="text footnote">
              <p>Submitted by Wall &amp; Co Solicitors</p>
            </div>

            <details>
              <summary>View changes</summary>

              <h4>Owner(s)</h4>

              <div class="changelog">

                <div class="removal">
                  <h5>Removed</h5>
                  <div class="grid grid-1-2">
                    <p>
                      <del>
                      Grace Dent<br>
                      Flat 18 Kingman Court,<br>
                      Verdant Road,<br>
                      London<br>
                      SV19 9BT
                      </del>
                    </p>
                  </div>
                </div>

                <div class="addition">
                  <h5>Added</h5>
                  <div class="grid grid-1-2">
                    <p>
                      <ins>
                      Raymond Frank Easton<br>
                      5 Granary Avenue,<br>
                      Poundbury,<br>
                      Dorchester,<br>
                      Dorset<br>
                      DT1 4YY
                      </ins>
                    </p>
                  </div>
                  <div class="grid grid-1-2">
                    <p>
                      <ins>
                      Carol Easton<br>
                      5 Granary Avenue,<br>
                      Poundbury,<br>
                      Dorchester,<br>
                      Dorset<br>
                      DT1 4YY
                      </ins>
                    </p>
                  </div>
                </div>

              </div>

              <h4>Lender(s)</h4>

              <div class="changelog">

                <div class="removal">
                  <h5>Removed</h5>
                  <p>
                    <del>
                    Another UK PLC (Co. Regn. No. 2347676)<br>
                    21 Diam Street,<br>
                    London<br>
                    SE10 4QT
                    </del>
                  </p>
                </div>

                <div class="addition">
                  <h5>Added</h5>
                  <p>
                    <ins>
                    Santander UK PLC (Co. Regn. No. 2294747)<br>
                    2 Triton Square,<br>
                    Regents Street,<br>
                    London<br>
                    NW1 3AN
                    </ins>
                  </p>
                </div>

              </div>

              <h4>Restrictions</h4>

              <div class="changelog">

                <div class="removal">
                  <h5>Removed</h5>
                  <p>
                    No disposition of the registered estate by the proprietor of the registered estate is to be registered without a written consent signed by the proprietor for the time being of the Charge dated <del>12 February 1991</del> in favour of <del>Another UK PLC</del> referred to in the Charges Register.
                  </p>
                </div>

                <div class="addition">
                  <h5>Added</h5>
                  <p>
                    No disposition of the registered estate by the proprietor of the registered estate is to be registered without a written consent signed by the proprietor for the time being of the Charge dated <ins>27 July 2013</ins> in favour of <ins>Santander UK PLC</ins> referred to in the Charges Register.
                  </p>
                </div>

              </div>
              <p class="link-to-register">
                <a href="404">View current register</a>
              </p>
            </details>

          </li>

          <li>
            <time datetime="2013-06-06">6 June 2013</time>
            <h3 class="heading-small">Priority reserved</h3>
            <div class="text footnote">
              <p>Reserved for a transfer and charge by Wall &amp; Co Solicitors</p>
            </div>
          </li>

          <li>
            <time datetime="2013-06-06">12 December 1995</time>
            <h3 class="heading-small">Owner details changed</h3>
            <div class="text footnote">
              <p>Submitted by Grace Dent</p>
            </div>

            <details>
              <summary>View changes</summary>

              <h4>Owner(s)</h4>

              <div class="changelog">

                <div class="removal">
                  <h5>Removed</h5>
                  <div class="grid grid-1-2">
                    <p>
                      <del>
                      Grace Constant
                      </del>
                    </p>
                  </div>
                </div>

                <div class="addition">
                  <h5>Added</h5>
                  <div class="grid grid-1-2">
                    <p>
                      <ins>
                      Grace Dent
                      </ins>
                    </p>
                  </div>
                </div>

              </div>

              <p class="link-to-register">
                <a href="404">View register on 12 December 1995</a>
              </p>

            </details>

          </li>

          <li>
            <time datetime="1991-02-12">12 February 1991</time>
            <h3 class="heading-small">Ownership transferred</h3>
            <div class="text footnote">
              <p>Submitted by Houses &amp; Homes PLC.</p>
            </div>

            <details>
              <summary>View changes</summary>

              <h4>Owner(s)</h4>

              <div class="changelog">

                <div class="removal">
                  <h5>Removed</h5>
                </div>

                <div class="addition">
                  <h5>Added</h5>
                  <div class="grid grid-1-2">
                    <p>
                      <ins>
                      Grace Constant<br>
                      Flat 18 Kingman Court,<br>
                      Verdant Road,<br>
                      London<br>
                      SV19 9BT
                      </ins>
                    </p>
                  </div>
                </div>

              </div>

              <h4>Lender(s)</h4>

              <div class="changelog">

                <div class="removal">
                  <h5>Removed</h5>
                </div>

                <div class="addition">
                  <h5>Added</h5>
                  <p>
                    <ins>
                    Another UK PLC (Co. Regn. No. 2347676)<br>
                    21 Diam Street,<br>
                    London<br>
                    SE10 4QT
                    </ins>
                  </p>
                </div>

              </div>

              <h4>Restrictions</h4>

              <div class="changelog">

                <div class="removal">
                  <h5>Removed</h5>
                </div>

                <div class="addition">
                  <h5>Added</h5>
                  <p>
                    <ins>No disposition by a sole proprietor of the registered estate (except a trust corporation) under which capital money arises is to be registered unless authorised by an order of the court.</ins>
                  </p>
                </div>

              </div>

              <div class="changelog">

                <div class="removal">
                  <h5>Removed</h5>
                </div>

                <div class="addition">
                  <h5>Added</h5>
                  <p>
                    <ins>No disposition of the registered estate by the proprietor of the registered estate is to be registered without a written consent signed by the proprietor for the time being of the Charge dated 12 February 1991 in favour of Another UK PLC referred to in the Charges Register.</ins>
                  </p>
                </div>

              </div>

              <h4>Provisions</h4>

              <div class="changelog">

                <div class="removal">
                  <h5>Removed</h5>
                </div>

                <div class="addition">
                  <h5>Added</h5>
                  <p>
                    <ins>A transfer dated 12 February 1991 made between Gregory Cassidy and Marie Smith contains provisions as to light or air, boundary structures and other matters.</ins>
                  </p>
                  <p class="footnote"><ins>Copy filed under <a href="404">L123456</a></ins></p>
                </div>

              </div>

              <p class="link-to-register">
                <a href="404">View register on 12 February 1991</a>
              </p>

            </details>

          </li>
        </ol>

      </div>
    </div>

  </div>

</main>

{% endblock %}

{% block body_end %}
  <script src="{{ prototypes_asset_path }}javascripts/vendor/jquery-1.11.1.min.js"></script>
  <script src="{{ prototypes_asset_path }}javascripts/govuk-elements.js"></script>
  <script src="{{ prototypes_asset_path }}javascripts/stick-at-top-when-scrolling.js"></script>
  <script src="{{ prototypes_asset_path }}javascripts/stop-scrolling-at-footer.js"></script>

  <script src="{{ prototypes_asset_path }}javascripts/lr-faux-details.js"></script>
  <script src="{{ prototypes_asset_path }}javascripts/register-view-2-0.js"></script>
{% endblock %}