{% extends "global/prototypes_base.html" %}

{% block head %}
  <link href="{{ prototypes_asset_path }}stylesheets/property-view-2-0.css" media="screen" rel="stylesheet" type="text/css">
{% endblock %}

{% block page_title %}
  Flat 18 Kingman Court, Verdant Road, London, SV19 9BT
{% endblock %}

{% block inside_header %}
  {% include "includes/global_search_box.html" %}
{% endblock %}

{% block header_class %}{% endblock %}
{% block proposition_header %}{% endblock %}
  
{% block content %}

<main id="wrapper" role="main">

  <div id="content">

    {% include "includes/prototypes_banner.html" %}

    <div class="outer-block">
      <div class="inner-block">

        <div class="global-breadcrumb">
          <nav role="navigation">
            <ol>
              <li><a href="/">Home</a></li>
              <li><a href="search">Find property information</a></li>
              <li><strong>Title GHR67834</strong></li>
            </ol>
          </nav>
        </div>

        <h1 class="property-details-title-prefix">Property details</h1>

      </div>
    </div>

    <div class="grid-wrapper">

      <div class="grid grid-1-2">
        <div class="inner-block">

          <h2 class="property-details-title-address" itemscope itemtype="http://schema.org/PostalAddress">
            <span itemprop="streetAddress">
              Flat 18 Kingman Court<br>
              Verdant Road<br>
            </span>
            <span itemprop="addressLocality">London</span><br>
            <span itemprop="postalCode">SV19 9BT</span>
          </h2>

<!--           <p><a href="#" class="vcard">Download vCard</a></p> -->

          <dl class="definition-tabular">
            <dt>Property type</dt>
            <dd>Flat</dd>

            <dt>Title number</dt>
            <dd>GHR67834</dd>

            <dt>Tenure type</dt>
            <dd>Leasehold</dd>

            <dt>Price paid</dt>
            <dd>&pound;450,000 on 26 July 2013</dd>

            <dt>Council</dt>
            <dd><a href="#">London Borough of Brent</a></dd>
          </dl>

        </div>
      </div>
      <div class="grid grid-1-2">
        <div class="inner-block">

          <div class="title-plan">
            <a href="#maps-plans"><img src="{{ prototypes_asset_path }}images/dummy-title-plan18.png" alt=""></a>
          </div>

        </div>
      </div>

    </div>

    <div class="outer-block">
      <div class="inner-block">
        <hr>
      </div>
    </div>

    <h3 class="visuallyhidden">Useful information about this property</h3>

    <div class="grid-wrapper property-flags">
      <div class="grid grid-1-4">
        <div class="inner-block">
          <dl>
            <dt>Planning applications</dt>
            <dd>2</dd>
          </dl>
          <p>
            <a href="#">View planning applications</a>
          </p>
        </div>
      </div>
      <div class="grid grid-1-4">
        <div class="inner-block">
          <dl>
            <dt>Energy performance</dt>
            <dd>C</dd>
          </dl>
          <p>
            <a href="#">View <abbr title="Energy Performance Certificate">EPC</abbr></a>
          </p>
        </div>
      </div>
      <div class="grid grid-1-4">
        <div class="inner-block">
          <dl>
            <dt>Listed building grade</dt>
            <dd><dfn title="Roman numeral two" class="roman">II</dfn></dd>
          </dl>
          <p>
            <a href="#">Listed buildings</a>
          </p>
        </div>
      </div>
      <div class="grid grid-1-4">
        <div class="inner-block">
          <dl>
            <dt>Flood risk</dt>
            <dd>low</dd>
          </dl>
          <p>
            <a href="#">View flood warnings</a>
          </p>
        </div>
      </div>

    </div>

    <div class="grid-wrapper property-flags">

      <div class="grid grid-1-4">
        <div class="inner-block">
          <dl>
            <dt>Council tax band</dt>
            <dd>A</dd>
          </dl>
          <p>
            <a href="#">View council tax bands</a>
          </p>
        </div>
      </div>
      <div class="grid grid-1-4">
        <div class="inner-block">
          <dl>
            <dt>Parking zone</dt>
            <dd class="no-data">No data</dd>
          </dl>
          <p>
            <a href="#">Why is this missing?</a>
          </p>
        </div>
      </div>
      <div class="grid grid-1-4">
        <div class="inner-block">
          <dl>
            <dt>Waste collection</dt>
            <dd><abbr title="Tuesday">Tue</abbr></dd>
          </dl>
          <p>
            <a href="#">Waste &amp; recycling</a>
          </p>
        </div>
      </div>
      <div class="grid grid-1-4">
        <div class="inner-block">
          <dl>
            <dt>Conservation area</dt>
            <dd>14</dd>
          </dl>
          <p>
            <a href="#">Conservation areas</a>
          </p>
        </div>
      </div>

    </div>

    <div class="outer-block">
      <div class="inner-block">
        <hr>
      </div>
    </div>

 <!--    <div class="grid-wrapper">

      <div class="grid grid-1-3">
        <div class="inner-block">
          <dl>
            <dt class="heading-small">Nearest police station</dt>
            <dd>
              Brent Safer Neighbourhoods Team<br>
              Lower SNT Base,<br>
              Fleet Road,<br>
              Barnes<br>
              SV19 9GY
            </dd>
          </dl>
          <p>
            <a href="#">Brent Safer Neighbourhoods Team</a>
          </p>
        </div>
      </div>

    </div>

    <div class="outer-block">
      <div class="inner-block">
        <hr>
      </div>
    </div>

    <div class="outer-block">
      <div class="inner-block">

        <div class="text">
          <h3 class="heading-medium">Things that affect this property</h3>
          <ul class="list-bullet">
            <li>This property is a leasehold.</li>
            <li>There are rights of way affecting this property.</li>
            <li>This property has a right of way over another property.</li>
            <li>There is a proposed tree preservation order on a tree in the garden.</li>
            <li>Mining and mineral rights exist.</li>
          </ul>
        </div>

      </div>
    </div> -->

    <div class="outer-block">
      <div class="inner-block">

        <div class="text">
          <h3 class="heading-medium">View full register</h3>
          <p>The Land Registry has more detailed information on this property, including,</p>
          <ul class="list-bullet">
            <li>who the owner is</li>
            <li>maps and title plan</li>
            <li>rights and restrictions that affect it</li>
          </ul>

          <p>If you would like to access the full register you must sign in using GOV.UK Verify.</p>

        </div>

        <div class="text">
          <p><a href="{{ next_page }}">View register</a></p>
        </div>

      </div>
    </div>


<!--     <div class="outer-block">
      <div class="inner-block">
        <hr>
      </div>
    </div>

    <div class="grid-wrapper">

      <div class="grid grid-1-2">
        <div class="inner-block">

          <p><a href="{{ next_page }}">View official title register for this property</a></p>

          <details class="font-xsmall">
            <summary>What is the official title register?</summary>
            <div class="text panel-indent">
              <p>You can get information about registered property or land in England and Wales, even if you don’t own it.</p>
              <p>You will need to sign in using GOV.UK Verify to view official title registers.</p>
            </div>
          </details>

        </div>
      </div>

        <div class="grid grid-1-2">
          <div class="inner-block">

            <p>
              <a href="#">Download vCard</a><br>
              <a href="#">Register for property notifications</a>
            </p>
          
          </div>
        </div>

    </div> -->

  </div>

</main>

{% endblock %}

{% block footer_top %}
  {% include "includes/footer_links.html" %}
{% endblock %}

{% block footer_support_links %}
<h2 class="visuallyhidden">Support links</h2>
<ul>
  <li><a href="/help">Help</a></li>
  <li><a href="/help/cookies">Cookies</a></li>
  <li><a href="/contact">Contact</a></li>
  <li><a href="/cymraeg">Cymraeg</a></li>
  <li>Built by the <a href="https://gds.blog.gov.uk/">Government Digital Service</a></li>
</ul>
{% endblock %}

{% block body_end %}
  <script src="{{ prototypes_asset_path }}javascripts/vendor/jquery-1.11.1.min.js"></script>
  <script src="{{ prototypes_asset_path }}javascripts/govuk-elements.js"></script>
  <script src="{{ prototypes_asset_path }}javascripts/stick-at-top-when-scrolling.js"></script>
  <script src="{{ prototypes_asset_path }}javascripts/stop-scrolling-at-footer.js"></script>

  <script src="{{ prototypes_asset_path }}javascripts/lr-faux-details.js"></script>
  <script src="{{ prototypes_asset_path }}javascripts/register-view-2-0.js"></script>
{% endblock %}