@-ms-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}
@-ms-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}
.register-changes-previous li:after {
  content: "";
  display: block;
  clear: both;
}

@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica");
}
@-ms-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}
@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica");
}
@-ms-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}
@-ms-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}
.register-changes-previous li:after {
  content: "";
  display: block;
  clear: both;
}

@-ms-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}
@-ms-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}
.register-changes-previous li:after {
  content: "";
  display: block;
  clear: both;
}

@-ms-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}
.register-changes-previous li:after {
  content: "";
  display: block;
  clear: both;
}

@-ms-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}
.breadcumb-reverse {
  margin-top: 30px;
}

.register-changes-pending {
  counter-reset: li-counter;
}
.register-changes-pending li {
  position: relative;
  padding-left: 35px;
}
.register-changes-pending li:before {
  content: counter(li-counter);
  counter-increment: li-counter;
  position: absolute;
  left: 0;
  top: 0;
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 300;
  text-transform: none;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: bold;
  background-color: #28a197;
  display: inline-block;
  width: 1.65em;
  height: 1.65em;
  padding-top: 0.25em;
  text-align: center;
  vertical-align: middle;
}
@media (max-width: 640px) {
  .register-changes-pending li:before {
    font-size: 14px;
    line-height: 1.14286;
  }
}

.register-changes-previous {
  margin-top: 0;
  border-left: 5px solid #6f72af;
}
.register-changes-previous li {
  padding: 15px;
  padding-left: 30px;
}
.register-changes-previous time {
  display: block;
  position: relative;
}
.register-changes-previous time:before {
  content: '';
  position: absolute;
  left: -30px;
  top: 7.5px;
  width: 15px;
  border-top: 5px solid #6f72af;
}
.register-changes-previous details[open] {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px dotted #bfc1c3;
}
.register-changes-previous details[open] .changelog:last-of-type {
  border-bottom: 1px dotted #bfc1c3;
}
.register-changes-previous details[open] .link-to-register {
  margin-top: 15px;
  margin-bottom: 0;
}
