// includes node_modules/govuk_frontend_toolkit/govuk_frontend_toolkit/stylesheets

// Import GOV.UK frontend toolkit

@import "colours";
@import "measurements";
@import "conditionals";
@import "shims";
@import "typography";
@import "css3";
@import "design-patterns/alpha-beta";
@import "design-patterns/buttons";

// Import GOV.UK Elements
// ==========================================================================

@import "govuk-elements";

// Prototype elements
// ==========================================================================

@import "prototypes/navigation";
@import "prototypes/tags";

// "Discovery" banner - uses govuk_toolkit mixin via elements, just needs:
@import "prototypes/discovery-banner";


// IMPORTING EXISTING STYLE-GUIDE APP STYLES
// ==========================================================================

@import "../style-guide/app/static/development/stylesheets/landregistry-main";


// NOT YET INTEGRATED
// ==========================================================================


// indented panel when presented in a list of checkboxes

.panel-indent--checkbox-list {
  @extend %contain-floats;
  clear:both;

  border-left: 4px solid $border-colour;

  padding: 10px 0 10px $gutter-half;
  margin: ($gutter $gutter-half $gutter/4 0);
}


