{% extends "global/prototypes_base.html" %}

{% block page_title %}
  Select change
{% endblock %}
  
{% block content %}

<main id="wrapper" role="main">

  <div id="content">

    {% include "includes/prototypes_banner.html" %}

    <div class="outer-block">
      <div class="inner-block">

        <form action="choose-method" method="get" class="form">

          <h1 class="form-title heading-large">
            Select change
          </h1>

          <div class="form-group">

            <label for="radio-1" class="block-label">
              <input id="radio-1" type="radio" name="radio-group" value="1">
              I am selling this property
            </label>

            <label for="radio-2" class="block-label">
              <input id="radio-2" type="radio" name="radio-group" value="2">
              I want to change some personal details
            </label>

            <label for="radio-3" class="block-label">
              <input id="radio-3" type="radio" name="radio-group" value="3">
              Another task
            </label>

          </div>

          <div class="form-group">
            <button type="submit" class="button">Next</button>
            <p>
              <a href="token">Back</a>
            </p>
          </div>

        </form>

      </div>
    </div>

  </div>

</main>

{% endblock %}