 <ul>
      <li><em class="can-proceed">&#10003;</em> Title no: BD161873</li>
      <li><em class="can-proceed">&#10003;</em> Lender: GE Money Home Finance Limited</li>
      <li><em class="can-proceed">&#10003;</em> Borrow Match: Dotty Brown</li>
      <li><em class="can-proceed">&#10003;</em> Mortgage Ref: digital-1234 (MDRef)</li>
      <li><em class="can-proceed">&#10003;</em> Property address: 31 Kenilworth Road, LU1 1DQ</li>
      <li><em class="can-proceed">&#10003;</em> Mortgage Extent: Matches property extent</li>
      <li><em class="can-proceed">&#10003;</em> Mortgage Date: 13 August 2015</li>
      <li><em class="can-proceed">&#10003;</em> Fee: Match - £5</li>
 </ul>
