<div class="bugs-features">
        <h3 class="heading-small">Bugs/upcoming features</h3>
        <p>your dev team are <a href="/bugs">tracking 2 bugs</a>, and resolving <a href="/bugs">broken case DM1200</a>
        </p>
        <p>New feature: <a href="/bugs">highlight restricitions</a> sheduled for Monday. <a href="/bugs">follow progress in preview system</a>.
        </p>
        <p>New feature: <a href="/bugs">inform applicant (digital channel) of estimated competion date</a> also sheduled for Monday.
        </p>
</div>
