<div class="statutory-register">

  <h3 class="heading-medium heading-sub-reg">A</h3>
  <p class="property-district">GREATER MANCHESTER : BURY</p>
  <ol class="list-number">

    <li>The Freehold land shown edged with red on the plan of the above title filed at the Registry and being <span class="property-address">17 Kenilworth Road, Luton, LU1 1DQ</span>.<span class="entry-date">04-10-1980</span></li>

    <li>The land has the benefit of a right of way over the part of the joint passageway at the side not included in the title.</li>

    <li>The mines and minerals together with ancillary powers of working are excepted with provision for compensation in the event of damage caused thereby.</li>

    <li>The Conveyance dated 4 September 1907 referred to in the Charges Register contains the following provision:-
    <br>
    PROVISO that the said his heirs or assigns should be entitled to erect buildings on his land adjoining the plot of land thereby conveyed on the southerly side thereof as he or they should think fit notwithstanding that thereby the same may obstruct or interfere with the access of light to any buildings which might be erected on the land thereby assured and the enjoyment by the said James Palmer his heirs or assigns of the access of light to such last mentioned buildings over the land of the said William Philby situate on the southerly side of the plot of land therby conveyed should at all times thereafter be and be deemed to be enjoyed by virtue of this agreement only and not as of right.
    </li>

    <li>A Conveyance of <span class="address">15 Kenilworth Road</span> dated 12 June 1924 made between (1) John Magnussen (Vendor) and (2) George Layland contains the following provision:-
    <p>
    "THE walls and fences dividing the premises herby conveyed from the adjoining premises retained by the Vendor shall be deemed to be party walls and fences and shall be repairable and rebuilt when occasion shall require at the joint and equal expense of the owner or owners for the time being of the premises hereby conveyed and retained as aforesaid.
    </p>
    <p>
    ALL rights of light passages sewers drains pipes water courses gullies spouts chimney stacks flues eaves gutters and other easements or quasi-easements hitherto used and enjoyed in common in respect of the hereditaments hereby conveyed or retained shall continue to be so used and enjoyed notwithstanding the severance of the ownership thereof."</p></li>
  </ol>

  <h3 class="heading-medium heading-sub-reg">B</h3>
  <p class="class-of-title">Title absoute</p>
  <ol class="list-number">
  
    <li>Proprietor: <span class="proprietor-name">PITOM LIMITED (Co. Regn. No. 010162r)</span> of <span class="proprietor-name">2nd Floor Commerce House, 23 Athena Street, Douglas, Isle Of Man, IM2 3EE.</span>.<span class="entry-date">19-02-2013</span></li>
    <li>The Transfer to the proprietor contains a covenant to observe and perform the covenants referred to in the Charges Register and imdemnity in respect thereof.<span class="entry-date">19-02-2013</span></li>
  </ol>


  <h3 class="heading-medium heading-sub-reg">C</h3>
  <ol class="list-number">

    <li>A Conveyance of the land in this title and other land dated 4 September 1907 made between (1) William Philby (2) Frederick Osborne Simeon Lark
        and (3) James Palmer contains covenants details of which are set out in
        the schedule of restrictive covenants hereto.</li>

    <li>The land in this title with other land is subject to a perpetual yearly
        rentcharge of £9 created by a Deed of Grant dated 19 July 1909 made
        between (1) Edgar Prestage (2) James Palmer (3) Sarah Jane Wallworth and
        (4) Robert Innes.
        <br>
        The said Deed also contains covenants.
        <br>
        NOTE: Abstract filed.
        <br>
        The rentcharge of £9 referred to above and the positive covenants
        associated therewith have been extinguished in respect of £4.50, the
        part thereof apportioned to the land in this title by an Order dated 29
        March 1984 of the Secretary of the State for the Environment.</li>

    <li>The part of the joint passageway at the side included in the title is
        subject to rights of way.</li>


    <h3 class="heading-small visuallyhidden"><a id="proposed-entries">proposed entries</a></h3>
    {% include "casework/partials/_charge-entry-73-1.html" %}
    {% include "casework/partials/_charge-entry-73-2.html" %}

  </ol>

  <h3 class="heading-medium heading-sub-reg">Schedule of restrictive covenants</h3>
  <ol class="list-number">

    <li>The following are details of the covenants contained in the Conveyance
        dated 4 September 1907 referred to in the Charges Register:-
        <br>
        COVENANTS by the said James Palmer with the said William Philby his
        heirs and assigns TO fence off the land thereby assured from the
        adjoining lands of the said William Philby and from the said intended
        roads shewn on the plan drawn thereon as therein mentioned and to keep
        same in good repair and condition TO leave open and unbuilt upon a
        space of 7 yards in width along the Northerly side of the plot of land
        thereby conveyed and a space of 6 yards in width all along the Easterly
        and Westerly sides of the same plot of land in order to constitute one
        half part in width of the said 3 intended roads or streets WHEN
        repaired to form make curb sewer and drain to the satisfaction of the
        Local Authority one half part of the said 3 intended roads so far as
        they were co-extensive with the plot of land thereby conveyed or at the
        option of the said William Philby his heirs or assigns to pay the
        expense of making etcetera the said 3 intended roads or streets so far
        as they were co-extensive as aforesaid and to keep same in good repair
        until their adoption by the Local Authority THAT every messuage which
        should be built on such part of the said Land thereby conveyed as
        adjoined any of the said intended roads or streets should have its
        principal front to one of them and be set back at least 6 yards
        therefrom and should be of not less letting value than Twenty-two
        Pounds per annum inclusive of rates and that no messuage which should
        be erected on any other part of the plot of land thereby conveyed
        should be of less letting than £19.10s.0d. per annum inclusive of rates
        and not at any time thereafter to use exercise or carry on or permit or
        suffer on the plot of land thereby conveyed or any part thereof any
        trade business or employment act or thing which might be a public
        nuisance or private annoyance or inconvenience to the said William
        Philby his heirs or assigns in respect of his adjoining land.
        </li>
    
  </ol>

</div>


