 <ul>
      <li><b>Applicant:</b> Coldpress Solicitors</li>
      <li>26 First Class Lane, Swindon, SW1 2ED</li>
      <li>Their Application Ref: <b>CS0000134</b></li>
      <br/>
      <li><b>Contact:</b></li>
      <li>Digital: <a href="#">message via digital mortgage interface</a></li>
      <li>email:<br/><a href="#">digital.mortgages@coldpress.com</a></li>
      <li>Phone: 01233 456399</li>
      <li>Postal:</li>
      <li>Digital Mortgage Team</li>
      <li>Coldpress Towers</li>
      <li>26 First Class Lane, Swindon, SW1 2ED</li>
      <li>
 </ul>
