<div class="statutory-register">

  <h3 class="heading-medium heading-sub-reg">Property</h3>
  <ol class="list-number">
    <li>The Freehold land shown edged with red on the plan of the above title filed at the Registry and being <span class="property-address">17 Kenilworth Road, Luton, LU1 1DQ</span>.<span class="entry-date">22-05-2014</span></li>
  </ol>

  <h3 class="heading-medium heading-sub-reg">Ownership</h3>
  <ol class="list-number">
    <li>Proprietor: <span class="proprietor-name">SCOTT OAKES</span> of <span class="proprietor-name">17 Kenilworth Road, Luton LU1 1DQ</span>.<span class="entry-date">22-05-2014</span></li>
    <li>The price stated to have been paid on <span class="pp-date">1 May 2014</span> was <span class="pp-amount">£100,000</span>.<span class="entry-date">22-05-2014</span></li>
  </ol>

  <h3 class="heading-medium heading-sub-reg">Charges</h3>
  <ol class="list-number">

  	<h3 class="heading-small visuallyhidden"><a id="proposed-entries">proposed entries</a></h3>
  	{% include "casework-v3/partials/_charge-entry-73-1.html" %}
  	{% include "casework-v3/partials/_charge-entry-73-2.html" %}

  </ol>

  <h3 class="heading-medium heading-sub-reg">No Deed, Unilateral Notice, or General Register entries</h3>

</div>


