<div class="statutory-register">

  <h3 class="heading-medium heading-sub-reg">A</h3>
  <p class="property-district">READING</p>
  <ol class="list-number">

    <li>The Freehold land shown edged with red on the plan of the above Title filed at the Registry and being <span class="property-address">39 Lambourn Road, Donnington, Newbury, TA4 8GC</span>.<span class="entry-date">14-07-1966</span></li>
    </ol>

  <h3 class="heading-medium heading-sub-reg">B</h3>
  <p class="class-of-title">Title absolute</p>
  <ol class="list-number">

    <li>PROPRIETOR: <span class="proprietor-name">GRAHAM ANDREW WILLIAMSON</span> of <span class="proprietor-address">39 Lambourn Road, Donnington, Newbury, TA4 8GC</span>.<span class="entry-date">25-07-2013</span></li>

<h3 class="heading-small visuallyhidden"><a id="proposed-entries-b">proposed b entry</a></h3>

    <li>The price stated to have been paid on 8 July 2013 was £120,000.<span class="entry-date">25-07-2013</span></li>

    
    {% include "casework-v3/partials/_charge-entry-shawbrook-b1.html" %}

  </ol>


  <h3 class="heading-medium heading-sub-reg">C</h3>
  <ol class="list-number">

    <li><p>A Conveyance of the land in this title and other land dated 6 November
       1876 made between (1) George Alfred Gray and John Henry Margetts
       contains the following covenants:-</p>
       <p>
       AND the said John Henry Margetts doth hereby for himself his heirs administrators and assigns covenant with the said George Alfred Grey his heirs and assigns that he the said John Henry Margetts his heirs or assigns would for ever thereafter maintain and keep in repair a good and sufficient fence on the South side of the said piece of land thereby granted so as to separate it from the land of the Reading Waterworks Company and would not excavate on any part of the said piece of land so as to cause any damage or injury whatever to the enbankment or other works of the said Reading Waterworks Company and would not allow permit or suffer any house or building to be erected on the said piece of land to be used for the sale of beer or spirituous liquors.</p>
       </li>

    <h3 class="heading-small visuallyhidden"><a id="proposed-entries-c">proposed c entries</a></h3>
    {% include "casework-v3/partials/_charge-entry-shawbrook-c1-dm0123.html" %}

  </ol>


</div>


