{% extends "global/casework_prototypes_base.html" %}

{% block page_title %}

Case

{% endblock %}

{% block head %}
  <link href="{{ prototypes_asset_path }}stylesheets/transfer.css" media="screen" rel="stylesheet" type="text/css">
{% endblock %}
  
{% block content %}

<main id="wrapper" role="main">

  <div id="content">

    <div class="inner-block">

      <h1 class="heading-large">Case reference {{ data.case.applicationReference }} </h1>

      <table class="casework-dashboard">
        <thead>
          <tr>
            <th scope="col">Title No</th>
            <th scope="col">Received ▼</th>

          </tr>
        </thead>
        <tbody>

          <tr>
            <td>{{ data.case.titleNumber }}</td>
            <td>{{ data.case.dateReceived }}</td>
          </tr>

        </tbody>
      </table>

      <p><a href="/cases">worklist</a></p>

    </div>

  </div>

</main>

{% endblock %}
