{% extends "global/casework_prototypes_base.html" %}

{% block page_title %}

Case list

{% endblock %}

{% block head %}
  <link href="{{ prototypes_asset_path }}stylesheets/transfer.css" media="screen" rel="stylesheet" type="text/css">
{% endblock %}
  
{% block content %}

<main id="wrapper" role="main">

  <div id="content">

    <div class="inner-block">

      <h1 class="heading-large">Cases</h1>

      <table class="casework-dashboard">
        <thead>
          <tr>
            <th scope="col">Reference</th>
            <th scope="col">Title No</th>
            <th scope="col">Received ▼</th>

          </tr>
        </thead>
        <tbody>

          {% for case in data.cases %}

          <tr class="summary">
    

            <td><a href="/cases/{{ case.applicationReference }}"><b>{{ case.applicationReference }}</b></a></td>
            <td>{{ case.titleNumber }}</td>
            <td>{{ case.dateReceived }}</td>
          </tr>
          
          {% endfor %}

          <tr class="summary">
            <td><a href="/cases-sor-official-copy/BD161870"><b>System of record BD161870</b></a></td>
            <td>&nbsp;</td>
            <td>3 May 2015 8:53</td>
          </tr>

          <tr class="summary">
            <td><a href="/cases-sor-official-copy/BD161871"><b>System of record BD161871</b></a></td>
            <td>&nbsp;</td>
            <td>18 May 2015</td>
          </tr>

          <tr class="summary">
            <td><a href="/cases-sor-grouped/BD161871"><b>System of record - group BD161871</b></a></td>
            <td>&nbsp;</td>
            <td>18 May 2015</td>
          </tr>

          <tr class="summary">
            <td><a href="/cases-sor-official-copy/BD161872"><b>System of record BD161872</b></a></td>
            <td>&nbsp;</td>
            <td>22 May 2015 14:21</td>
          </tr>

          <tr class="summary">
            <td><a href="/cases-sor-official-copy/BD161873"><b>System of record BD161873</b></a></td>
            <td>&nbsp;</td>
            <td>3 June 2015 9:43</td>
          </tr>

        </tbody>
      </table>

    </div>

  </div>

</main>

{% endblock %}
