{% extends "global/casework_prototypes_base.html" %}

{% block page_title %}

Case list

{% endblock %}

{% block head %}
  <link href="{{ prototypes_asset_path }}stylesheets/govuk-elements.css" media="screen" rel="stylesheet" type="text/css" />

  <link href="{{ prototypes_asset_path }}stylesheets/casework-shame.css" media="screen" rel="stylesheet" type="text/css">
{% endblock %}
  
{% block content %}

<main id="wrapper" role="main">

  <div id="content">

    <div class="grid-row">

      <div class="column-two-thirds">

        <h1 class="heading-large">our cases (team)</h1>

        <table class="casework-dashboard">
          <thead>
            <tr>
              <th scope="col">Reference</th>
              <th scope="col">Title No</th>
              <th scope="col">Status</th>
              <th scope="col">Received ▼</th>

            </tr>
          </thead>
          <tbody>

            <tr class="summary">
              <td width="30%"><a href="/official-copy/BD161873"><b>digital mortgage DM0001</b></a></td>
              <td width="20%">BD161873 | &#10003;</td>
              <td width="30%">you are working on it</td>
              <td width="20%">21 May 2015 12:23</td>
            </tr>

            <tr class="summary">
              <td><a href="/official-copy/BD161879"><b>digital mortgage DM0023</b></a></td>
              <td>BD161879 | ?</td>
              <td>Bob is actively working on it</td>
              <td>28 May 2015 7:20</td>
            </tr>

            <tr class="summary">
              <td><a href="/official-copy/BD161882"><b>digital mortgage DM0017</b></a></td>
              <td>BD161882 | &#10008;</td>
              <td>Susan has it, last accessed it on Friday</td>
              <td>3 June 2015 9:43</td>
            </tr>

  <!--           {% for case in data.cases %}
            <tr class="summary">
              <td><a href="/cases/{{ case.applicationReference }}"><b>{{ case.applicationReference }}</b></a></td>
              <td>{{ case.titleNumber }}</td>
              <td>&nbsp;</td>
              <td>{{ case.dateReceived }}</td>
            </tr>        
            {% endfor %} -->


            <tr class="summary">
              <td><a href="/cases-sor-official-copy/BD161870"><b>System of record BD161870</b></a></td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>3 May 2015 8:53</td>
            </tr>

            <tr class="summary">
              <td><a href="/cases-sor-official-copy/BD161871"><b>System of record BD161871</b></a></td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>18 May 2015</td>
            </tr>

            <tr class="summary">
              <td><a href="/cases-sor-grouped/BD161871"><b>System of record - group BD161871</b></a></td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>18 May 2015</td>
            </tr>

            <tr class="summary">
              <td><a href="/cases-sor-official-copy/BD161872"><b>System of record BD161872</b></a></td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>22 May 2015 14:21</td>
            </tr>

            <tr class="summary">
              <td><a href="/cases-sor-official-copy/BD161873"><b>System of record BD161873</b></a></td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>3 June 2015 9:43</td>
            </tr>

            <tr class="summary">
              <td><a href="/cases-sor-official-copy/BD161878"><b>System of record BD161878</b></a></td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>3 June 2015 9:43</td>
            </tr>

            <tr class="summary">
              <td><a href="/cases-sor-official-copy/BD161879"><b>System of record BD161879</b></a></td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>3 June 2015 9:43</td>
            </tr>

            <tr class="summary">
              <td><a href="/cases-sor-official-copy/BD161882"><b>System of record BD161882</b></a></td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>3 June 2015 9:43</td>
            </tr>

            <tr class="summary">
              <td><a href="/cases-sor-official-copy/BD161874"><b>BD161874</b></a>; <a href="/cases-sor-official-copy/BD161875"><b>BD161875</b></a>; <a href="/cases-sor-official-copy/BD161876"><b>BD161876</b></a>; <a href="/cases-sor-official-copy/BD161877"><b>BD161877</b></a>; <a href="/cases-sor-official-copy/BD161878"><b>BD161878</b></a>; <a href="/cases-sor-official-copy/BD161879"><b>BD161879</b></a>; <a href="/cases-sor-official-copy/BD161880"><b>BD161880</b></a>; <a href="/cases-sor-official-copy/BD161881"><b>BD161881</b></a>; <a href="/cases-sor-official-copy/BD161882"><b>BD161882</b></a>; <a href="/cases-sor-official-copy/BD161883"><b>BD161883</b></a>; <a href="/cases-sor-official-copy/BD161885"><b>BD161885</b></a></td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>3 June 2015 9:43</td>
            </tr>

            <hr/>
            <tr class="summary">
              <td>JSON files <br/>
              {% include "casework/partials/_json-files.html" %}
              </td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>3 June 2015 9:43</td>
            </tr>



          </tbody>
        </table>

      </div>

      <div class="column-third">
        <h3>Bugs/upcoming features</h3>
        <p>your dev team are <a href="/bugs">tracking 3 bugs</a>.
        </p>
        <p>New feature <a href="/bugs">highlight restricitions</a> sheduled for Monday.  Feel free <a href="/bugs">check out progress</a> in the preview system.
        </p>
        <p>New feature <a href="/bugs">inform applicant (digital channel) of estimated competion date</a> sheduled for Monday.  Feel free <a href="/bugs">check out progress</a> in the preview system.
        </p>

        <h3>Service performance (summary)</h3>
        <p><a href="/performance">performance page</a>

        </p>
        <p>put team focussed summary here - current throughput of applications</p>
        <p>on the full performance page show how the whole service is operating - customer satisfation, time to complete</p>


      </div>

    </div>

  </div>

</main>

{% endblock %}
