{% extends "global/casework_prototypes_base.html" %}

{% block page_title %}

Case

{% endblock %}

{% block head %}
  <link href="{{ prototypes_asset_path }}stylesheets/transfer.css" media="screen" rel="stylesheet" type="text/css">
{% endblock %}
  
{% block content %}

<main id="wrapper" role="main">

  <div id="content">

    <div class="inner-block">

      {% for item in data.case %}
      <h1 class="heading-large">Case {{ item.applicationReference }} </h1>
      {% endfor %}  

      <table class="casework-dashboard">
        <thead>
          <tr>
            <th scope="col">Title No</th>
            <th scope="col">Received ▼</th>

          </tr>
        </thead>
        <tbody>

        {% for item in data.case %}
          <tr>
            <td>{{ item.titleNumber }}</td>
            <td>{{ item.dateReceived }}</td>
          </tr>
        {% endfor %}  

        </tbody>
      </table>

      <p><a href="/casework/cases">worklist</a></p>

    </div>

  </div>

</main>

{% endblock %}
