{% extends "global/casework_prototypes_base_v1.html" %}

{% block body_classes %}prototypes-index{% endblock %}



{% block content %}

<main id="wrapper" role="main">

  <div id="content">

    {% include "includes/prototypes_banner.html" %}

    <div class="outer-block">
      <div class="inner-block">

        <h1 class="heading-large">
          Casework Prototype
        </h1>
        <div class="text">
          <p class="lede">This is where we wildly iterate casework ideas - from the minimal to process a digital mortgage to beyond mvp to show possible direction of travel / ideas / what we might want to do for first release.</p>
        </div>

        <h2 class="heading-large">
          Design principles
        </h2>
        <div class="text">
          <p class="lede">Prototypes here are working toward <a href="designprinciples">the outcomes we want, based upon our design principles</a>.  The design ideas, like prototypes look at the private beta, how we might run it, and how it improves and grows</p>
        </div>


<!-- 
        <h2 class="heading-medium">Protos</h2>
        <h3>Proto Versions 1, 2, and 3 mvp</h3>
        <p>Aim: (hypothesis to test / what we want to learn)</p>
        <p>Can we run this?  - visualise and explain the service - what could be the first internal beta - to process digital mortgage application.</p>
        <p>What is the 'shape of this thing'? Cover all the functionality required of the service.  what happens in the new system/processes vs what happens in exisiting systems/processes.  What does this thing look like :) ?</p>
        <p>Also showing beyond the first beta - to show the seeds of where this could head - indicators/ideas for future versions.  Show the now within the context of the longer term</p>

 -->

        <h3 class="heading-large">Prototype evolutions</h3>
        <h3 class="heading-medium">latest</h3>
        <ul>
        <li><a href="https://lr-casework-prototype.herokuapp.com/casework-AP-v2/index">digital mortgage casework - mvp - process case thinking (how small could the minimum be?) (may take some moments to wake up)</a></li>
        <li><a href="cases-vx-mvp">digital mortgage casework - possibly bigger than mvp - service thinking</a></li>
        
        </ul>

        <h3 class="heading-medium">previously</h3>
        <ul>
        <li><a href="cases-v3-initial">digital mortgage casework - version 3</a></li>
        <li><a href="cases-v2">digital mortgage casework - version 2</a></li>
        <li><a href="cases-v1">digital mortgage casework - version 1</a></li>
        </li>
        </ul>

<!--         <h3 class="heading-small">Prototype evolutions</h3>
        <ul>
<p>Week commencing 13th July 15<br>
test 1 proto style: goals: get a digital mortgage application and process it.  Processing means check/accept the autodrafted new register.<br>
Testing results: <br>
The tasks were not clear (couldn't tell what was wanted of the person, and what had been done by the system) and <br>
Too much information.<br>
We made it too much like the existing process.</p>

        <li><a href="cases-v3-initial">digital mortgage casework - version 3 - private beta mvp</a></li>
        <li><a href=""></a></li>

Week commencing 29th June 15
test 2 different proto styles.  goals: get a digital mortgage application and process it.  Processing means check/accept the autodrafted new register.
        <li><a href="cases-v3-step-1">proto style 1: digital mortgage casework - version 3 - usability testing mortgage processing only</a></li>
        <li><a href=""></a>proto style 2: Neils - link - maybe screen shot as other repo has no history/versions</li>
So 10 things were done to Neils proto - list the ten
        </ul>
        Previously (iterations / thinking)
        <ul>
        <li><a href="cases-v3-initial">digital mortgage casework - version 3 - private beta mvp</a></li>
        <li><a href="cases-v2">digital mortgage casework - version 2</a></li>
        <li><a href="cases-v1">digital mortgage casework - version 1</a></li>
        <li><a href="cases-vx-mvp">digital mortgage casework - version x - lastest thoughts - but not ready for testing</a></li>
        </ul> -->

      </div>
    </div>


  </div>

</main>

{% endblock %}