{% extends "global/casework_prototypes_base.html" %}

{% block body_classes %}prototypes-index{% endblock %}



{% block content %}

<main id="wrapper" role="main">

  <div id="content">

    {% include "includes/prototypes_banner.html" %}

    <div class="outer-block">
      <div class="inner-block">

        <h1 class="heading-large">
          Casework Prototype
        </h1>
        <div class="text">
          <p class="lede">this is where we wildly iterate casework ideas</p>

          <p>Prototypes of ideas live here, and notes to explain how they fared at user testing.</p>

          <p>So this app then contains a history of iterations - what we learnt from users.</p>
        </div>

        <h2 class="heading-medium">Protos</h2>
        <h3>Proto 1</h3>
        <p>Aim: (hypothesis to test / what we want to learn)</p>
        <p>Can we run this?  - visualise and explain the service - what could be the first internal beta - to process digital mortgage application.</p>
        <p>What is the 'shape of this thing'? Cover all the functionality required of the service.  what happens in the new system/processes vs what happens in exisiting systems/processes.  What does this thing look like :) ?</p>
        <p>Also showing beyond the first beta - to show the seeds of where this could head - indicators/ideas for future versions.  Show the now within the context of the longer term</p>
        <p><a href="cases">Case list</a></p> 
        <h3 class="heading-small">Service Design Assumptions/Parameters</h3>
        <ul class="list-bullet">
        <li>We are getting mortgage applications from a few, known, lenders</li>
        <li>Number of applications will be small.</li>
        <li>Internal processing team will be small, co-located, and co-located with the service development team - operate, iterate and support the application/service as one team.</li>
        <li>we will be iterating/bug fixing/enhancing on a daily basis</li>
        <li>If the new system/process cannot cope with an application we can run it through the existing systems/processes</li>
        <li>first release could look / operate nothing like later releases (metamorphosis).</li>
        <li>an aim (not the only) of first release is to learn what we can take away - what isn't technical work/legal judgement - to be able to remove that and leave technical skilled work for staff.</li>
        </ul>

        <h3 class="heading-small">Design Principles / User needs/desires</h3>
        <ul class="list-bullet">
        <li>minimal interaction with existing applications and processes - only where we absolutely have to</li>  
        <li>Everything needed to operate the application is brought to the user</li>
        <li>Users are legal technicians</li>
        <li>tools focused on the goal - processing mortgage appication (not a swiss army knife system)</li>
        <li>simplify language.  clarity and accuracy of terminololgy</li>
        <li>less is best - strip away everything not needed.  start with too little and add.</li>
        <li>more interesting work / less admin</li>
        <li>confidence / trust in the systems.  IT and in what we are asking them to do (process/practice)</li>
        <li>supported and listened to</li>
        </ul>


      </div>
    </div>


  </div>

</main>

{% endblock %}