{% extends "global/prototypes_base.html" %}

{% block page_title %}
  Enter Reference Code
{% endblock %}
  
{% block content %}

<main id="wrapper" role="main">

  <div id="content">

    {% include "includes/prototypes_banner.html" %}

      <div class="inner-block text">

        <h1 class="heading-xlarge">Authorise Relationship</h1>

        <p class="lede">For your conveyancer to work on your behalf you need to authorise your relationship.</p>
        <p>To do this you will need to enter the authorisation code you will have received from your conveyancer.</p>

        <form action="citizen-login" method="get" class="form">

          <div class="form-group">
            <label for="ref-code" class="form-label">Authorisation code</label>
            <span class="form-hint">For example: A1B2C3D4E5</span>
            <input type="password" class="form-control" id="ref-code">
          </div>

          <div class="form-group">           
            <button type="submit" class="button">Submit</button>
          </div>

        </form>

      </div>

  </div>

</main>

{% endblock %}
